Repository manoj-bhaskaran/My-Scripts: changes, and which pre-commit hooks are due for each by the changed paths.
All: psscriptanalyzer, powershell-format

psscriptanalyzer:
  name: PSScriptAnalyzer
  entry: pwsh -Command "Invoke-ScriptAnalyzer -Path"
  language: system
  args:
  - -Severity
  - Error

powershell-format:
  name: Format PowerShell
  entry: pwsh scripts/Format-PowerShellCode.ps1 -Check
  language: system
  pass_filenames: false

fix(powershell): resolve FileSystem module test failures
  src/powershell/modules/Core/FileSystem/Public/New-DirectoryIfMissing.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileAccessible.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileLocked.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-PathValid.ps1
  tests/powershell/unit/FileSystem.Tests.ps1
Due: psscriptanalyzer, powershell-format

fix(powershell): fix wildcard detection in Test-PathValid
  src/powershell/modules/Core/FileSystem/Public/Test-PathValid.ps1
Due: psscriptanalyzer, powershell-format

fix(powershell): improve directory creation in PowerShell Logging Framework
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework.psm1
Due: powershell-format

fix(powershell): streamline control flow and error handling in logging functions
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework.psm1
Due: powershell-format

fix(powershell): use .NET methods for robust cross-platform logging
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework.psm1
Due: powershell-format

fix(python): remove unused parameter and modernize type hints
  src/python/cloud/gdrive_recover.py
  src/python/modules/utils/error_handling.py
Due: none

fix(python): remove unused parameter from error handling method
  src/python/cloud/gdrive_recover.py
Due: none

style: format all code with automated formatters
  hooks/pre-commit
  src/powershell/modules/Core/FileSystem/Public/New-DirectoryIfMissing.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileAccessible.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileLocked.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-PathValid.ps1
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework.psm1
  src/powershell/modules/Media/Videoscreenshot/Private/Gdi.Capture.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/IO.Helpers.ps1
  tests/powershell/unit/FileSystem.Tests.ps1
Due: psscriptanalyzer, powershell-format

fix: remove trailing whitespace from PowerShell catch blocks
  src/powershell/modules/Media/Videoscreenshot/Private/Gdi.Capture.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/IO.Helpers.ps1
Due: psscriptanalyzer, powershell-format

fix: remove trailing whitespace from CHANGELOG.md
  CHANGELOG.md
Due: none

Improve PowerShell output stream guidance
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  VERSION
  scripts/Check-DocumentationPaths.ps1
  scripts/Load-Environment.ps1
Due: psscriptanalyzer, powershell-format

feat: enhance SonarCloud configuration validation and error handling
  .github/workflows/sonarcloud.yml
  analysis/issues/011-sonarcloud-authentication-fix.md
  analysis/issues/README.md
  scripts/Validate-SonarCloudConfig.ps1
Due: psscriptanalyzer, powershell-format

fix(ci): improve security scan workflow output handling and error reporting
  .github/workflows/security-scan.yml
Due: none

fix(ci): use environment variables for security scan status instead of step outputs
  .github/workflows/security-scan.yml
Due: none

fix(ci): ensure environment variables are passed to security scan summary step
  .github/workflows/security-scan.yml
Due: none

fix(deps): resolve numpy/pandas/opencv-python dependency conflict
  requirements.txt
Due: none

feat: Extract queue logic from FileDistributor into FileQueue module (#602)
  CHANGELOG.md
  README.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileQueue/FileQueue.psd1
  src/powershell/modules/FileManagement/FileQueue/FileQueue.psm1
  src/powershell/modules/FileManagement/FileQueue/Private/Initialize-QueueState.ps1
  src/powershell/modules/FileManagement/FileQueue/Private/Update-QueueMetrics.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Add-FileToQueue.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Get-NextQueueItem.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/New-FileQueue.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Remove-QueueItem.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Restore-QueueState.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Save-QueueState.ps1
  src/powershell/modules/FileManagement/FileQueue/README.md
  src/powershell/modules/FileManagement/FileQueue/Tests/FileQueue.Tests.ps1
Due: psscriptanalyzer, powershell-format

chore(analysis): delete analysis documents
  analysis/issues/001-empty-catch-blocks.md
  analysis/issues/002-write-host-usage.md
  analysis/issues/003-low-test-coverage.md
  analysis/issues/003a-add-smoke-tests.md
  analysis/issues/003b-test-database-backups.md
  analysis/issues/003c-test-data-processing.md
  analysis/issues/003d-test-cloud-operations.md
  analysis/issues/003e-test-shared-python-modules.md
  analysis/issues/003f-test-powershell-shared-modules.md
  analysis/issues/004-missing-http-timeouts.md
  analysis/issues/004a-add-timeouts-cloudconvert.md
  analysis/issues/004b-update-timeout-documentation.md
  analysis/issues/004c-enable-bandit-timeout-check.md
  analysis/issues/005-missing-python-type-hints.md
  analysis/issues/005a-add-type-hints-infrastructure.md
  analysis/issues/005b-type-hints-logging-modules.md
  analysis/issues/005c-type-hints-error-handling.md
  analysis/issues/005d-type-hints-data-scripts.md
  analysis/issues/006-invoke-expression-security-risk.md
  analysis/issues/007-dependency-version-pinning.md
  analysis/issues/008-large-complex-scripts.md
  analysis/issues/008a-extract-filesystem-module.md
  analysis/issues/008b-refactor-filedistributor-phase1.md
  analysis/issues/009-module-deployment-complexity.md
  analysis/issues/009a-consolidate-deployment-config.md
  analysis/issues/010-environment-variable-management.md
  analysis/issues/010a-document-environment-variables.md
  analysis/issues/011-sonarcloud-authentication-fix.md
  analysis/issues/README.md
Due: none

chore(docs): delete unnecessary docs
  CI_INVESTIGATION_REPORT.md
Due: none

docs(analysis): add comprehensive git hooks review issues
  analysis/git-hooks-issue-001-hooks-not-installed.md
  analysis/git-hooks-issue-002-precommit-framework-not-installed.md
  analysis/git-hooks-issue-003-dual-hook-management.md
  analysis/git-hooks-issue-004-hook-permissions.md
  analysis/git-hooks-issue-005-platform-compatibility.md
  analysis/git-hooks-issue-006-missing-dependencies.md
  analysis/git-hooks-issue-007-powershell-linting-disabled.md
  analysis/git-hooks-issue-008-logging-to-repo-directory.md
  analysis/git-hooks-issue-009-conventional-commits-duplication.md
  analysis/git-hooks-issue-010-large-file-threshold-mismatch.md
Due: none

fix(hooks): migrate to single pre-commit framework system
  .pre-commit-config.yaml
  docs/guides/git-hooks.md
  hooks/commit-msg
  hooks/post-checkout
  hooks/pre-commit
  hooks/pre-push
Due: none

fix(docs): update version and last updated date in install-hooks script
  scripts/install-hooks.sh
Due: none

docs(hooks): document resolution of permission issues #648
  CHANGELOG.md
  analysis/git-hooks-issue-004-hook-permissions.md
Due: none

feat(hooks): enable PowerShell linting in pre-commit hook (#651)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/guides/git-hooks.md
  tests/manual/test-powershell-linting.md
Due: none

fix(hooks): fix YAML parsing error in PowerShell hook configuration
  .pre-commit-config.yaml
Due: none

fix(hooks): escape PowerShell variables to prevent bash expansion
  .pre-commit-config.yaml
Due: none

fix(hooks): use backslash escaping for PowerShell variables
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: move CmdletBinding attribute before param block
  src/powershell/media/Convert-ImageFile.ps1
Due: psscriptanalyzer, powershell-format

fix: resolve Python module import error for crop_colours
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Cropper.Invoke.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/python/media/__init__.py
Due: psscriptanalyzer, powershell-format

fix: enhance Python module import with pre-flight checks and diagnostics
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Cropper.Invoke.ps1
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
Due: psscriptanalyzer, powershell-format

fix: correct ProcessedFile output format for resume functionality
  src/powershell/modules/Media/Videoscreenshot/Private/Processed.Log.ps1
Due: psscriptanalyzer, powershell-format

fix: ensure all processed videos are written to .processed_videos file
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
Due: psscriptanalyzer, powershell-format

chore: bump version to 3.0.5 for processed videos tracking fix
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
Due: none

fix: exclude Cropped folder from recursive image scanning
  src/python/media/crop_colours.py
Due: none

fix: clean up .vlc_pids_* files after Start-VideoBatch execution
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
Due: psscriptanalyzer, powershell-format

fix: properly validate SONAR_TOKEN using environment variable
  .github/workflows/sonarcloud.yml
Due: none

Path conditions:
  psscriptanalyzer: any of: \.ps1$
  powershell-format: any of: \.(ps1|psm1)$
