Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

feat(powershell): add ShouldProcess support
  src/powershell/file-management/Copy-FilesByExtension.ps1
  src/python/data/extract_timeline_locations.py
  tests/python/unit/test_csv_to_gpx.py
Due: python, powershell

chore(python): upgrade safety to 3.7.0
  requirements.txt
Due: none

fix: audit locked python dependencies
  .github/workflows/security-scan.yml
  CHANGELOG.md
  README.md
Due: none

fix(deps): pin patched virtualenv and filelock
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/sonarcloud.yml
  CHANGELOG.md
  INSTALLATION.md
  README.md
  VERSION
  requirements.lock
  requirements.txt
  scripts/install-hooks.sh
Due: none

fix: restore pip-audit virtualenv compatibility
  CHANGELOG.md
  INSTALLATION.md
  README.md
  requirements.lock
  requirements.txt
Due: none

fix: align safety pin with filelock override
  .github/workflows/security-scan.yml
  CHANGELOG.md
  INSTALLATION.md
  README.md
  VERSION
  requirements.lock
  requirements.txt
Due: none

fix(deps): remove safety from security scans
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  INSTALLATION.md
  README.md
  VERSION
  requirements.lock
  requirements.txt
Due: none

Bump dependency versions in requirements.txt
  requirements.txt
Due: none

feat: write diagnostics summary to console when not in PassThru mode
  src/powershell/file-management/Copy-FilesByExtension.ps1
Due: powershell

Add Profile-Helpers.ps1: extracted and version-controlled $PROFILE logic
  scripts/Profile-Helpers.ps1
Due: none

Remove hard-coded local paths from Profile-Helpers.ps1 comments
  scripts/Profile-Helpers.ps1
Due: none

Add version number, comment-based help, and inline comments to Profile-Helpers.ps1
  scripts/Profile-Helpers.ps1
Due: none

Call Ensure-RepoModulesLoaded in Run-RepoScript
  scripts/Profile-Helpers.ps1
Due: none

Fix exclusion logic to reject files nested inside ignored directories
  scripts/Profile-Helpers.ps1
Due: none

Automate repo index rebuild after deployment
  config/local-deployment-config.json.example
  scripts/Deploy-Modules.ps1
  scripts/Update-RepoIndex.ps1
  scripts/install-modules.sh
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

Rebuild index only when PowerShell files actually changed
  scripts/Deploy-Modules.ps1
  scripts/install-modules.sh
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

Trigger index rebuild only on structural PS file changes (add/rename/delete)
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

Guard optional cacheDir access against strict mode PropertyNotFoundException
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

Rename Convert-ImageFile.ps1 to Move-ImageFileToBatch.ps1
  src/powershell/media/Move-ImageFileToBatch.ps1
Due: powershell

Update all references from Convert-ImageFile to Move-ImageFileToBatch
  CHANGELOG.md
  docs/FOLDER_MIGRATION.md
  docs/RENAME_MAPPING.md
  docs/guides/naming-conventions.md
  src/powershell/media/README.md
Due: powershell

Bump version to 2.8.0 for Move-ImageFileToBatch rename
  CHANGELOG.md
  README.md
  VERSION
Due: none

feat: add -FileNamePattern parameter to Copy-FilesByExtension
  src/powershell/file-management/Copy-FilesByExtension.ps1
Due: powershell

Fix version display in Start-VideoBatch finish messages
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
Due: powershell

feat(FileDistributor): add .mp4 to allowed extensions (v4.5.0)
  CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(security): ignore pygments GHSA-5239-wwwm-4pmq until fix is released
  .github/workflows/security-scan.yml
  CHANGELOG.md
Due: none

fix(security): ignore GHSA-5239-wwwm-4pmq in pre-commit pip-audit hook
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

feat(Show-RandomImage): add .mp4 support and bump version to 2.3.0
  src/powershell/media/Show-RandomImage.ps1
Due: powershell

fix(security): upgrade requests to 2.33.0 to fix GHSA-gc5v-m9x4-r6x2
  requirements.lock
  requirements.txt
Due: none

refactor(filedistributor): split Main into orchestration phases
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(FileDistributor): restore file-count integrity warnings in Invoke-PostRunCleanup
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

chore(FileDistributor): bump version to 4.6.1, update CHANGELOG
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

refactor: centralize FileDistributor move workflow
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

fix: preserve EndOfScript queue status messaging
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(filedistributor): extract shared subfolder count helper
  CHANGELOG.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(filedistributor): enforce target-root containment in subfolder helper
  CHANGELOG.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor: extract checkpoint payload builder in FileDistributor
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

fix: allow scalar checkpoint payload inputs in FileDistributor helper
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(file-distributor): move changelog to dedicated markdown file
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(gdrive_recover): move CHANGELOG out of source into CHANGELOG.md
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_recover.py
Due: python
