Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

fix(filedistributor): use string form of OutputType for New-FileDistributorRunState
  src/powershell/modules/FileManagement/FileDistributor/Public/New-FileDistributorRunState.ps1
Due: powershell

fix(Remove-SourceDirectory): improve error handling during non-zip and source directory deletions
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(Remove-SourceDirectory): enhance non-zip removal logic to handle directories and files separately
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(Remove-SourceDirectory): refine sorting logic for non-zip removal to improve directory depth handling
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(Remove-SourceDirectory): correct deletion order for source directory and improve error handling
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(Invoke-ZipExtractions): refine total files extracted logic and improve non-zip removal process
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(file-management): clean nested non-zips recursively in Remove-SourceDirectory
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): suppress false cleanup errors after successful removal
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): treat CleanNonZips item removal as best effort
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): only fail when source dir remains after delete
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): record single delete error and keep it when Test-Path masks failure
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

chore(deps): bump pytest to >=9.0.3 to fix GHSA-6w46-j5rx-g56g
  CHANGELOG.md
  requirements.txt
Due: none

chore(deps): pin pytest==9.0.3 in requirements.lock to fix GHSA-6w46-j5rx-g56g
  requirements.lock
Due: none

test(Expand-ZipsAndClean): assert end-state, not exact ErrorList count
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

fix(file-management): use [Directory]::Delete for source cleanup to fix Linux CI
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(file-management): resolve SourceDir provider path before .NET delete
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

test(Expand-ZipsAndClean): anchor source-dir-gone assertion on IO.Directory.Exists
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

fix(purge-logs): don't hijack caller's logger config in Clear-LogFile
  src/powershell/modules/Core/Logging/PurgeLogs.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/Public/Clear-LogFile.ps1
Due: powershell

chore(purge-logs): bump version to 2.2.3 and document logger-hijack fix
  src/powershell/modules/Core/Logging/PurgeLogs.psd1
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
Due: powershell

refactor(Move-ZipFilesToParent): eliminate parent-scope reads
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Move-ZipFilesToParent): make drive root test cross-platform
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

fix: improve writability check in Move-ZipFilesToParent to use temp file
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

feat(Expand-ZipsAndClean): honor CollisionPolicy during zip-move-to-parent step
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): prevent data loss when Skip policy + DeleteSource are combined
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): replace switch+continue with if/elseif in Move-ZipFilesToParent
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

test(Expand-ZipsAndClean): add diagnostic Write-Host to Move-ZipFilesToParent BeforeAll
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

fix: suppress confirmation prompts in Move-ZipFilesToParent for CI
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

chore: add granular diagnostics inside Move-ZipFilesToParent (temporary)
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

chore: diagnose Test-Path mock bleed and guard Resolve-UniquePathCore (temporary)
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/FileSystem/Private/Resolve-UniquePathCore.ps1
Due: powershell

fix: stop Mock Test-Path from bleeding into later Describes
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/FileSystem/Private/Resolve-UniquePathCore.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix: use .NET existence checks to bypass persistent Test-Path mock bleed
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/FileSystem/Private/Resolve-UniquePathCore.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(expand-zipsandclean): harden zip slip checks and centralize encryption detection
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(expand-zipsandclean): resolve #973 regression in path validation
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(expand-zipsandclean): stabilize flat-mode skip and traversal guards
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(expand-zipsandclean): block raw traversal entries in flat extraction
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(expand-zipsandclean): reject raw '..' traversal markers
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

test(expand-zipsandclean): harden zip slip assertion with sentinel file
  CHANGELOG.md
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(gdrive): add folder-scoped download with subfolder hierarchy reconstruction
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_models.py
  src/python/cloud/gdrive_recover.py
Due: python

docs(gdrive): bump to v1.18.0, add CHANGELOG and README for --folder-id
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_recover.py
Due: python
