Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

style(gdrive-download): apply black formatting to skip-existing branch
  src/python/cloud/gdrive_download.py
Due: python

fix(gdrive-download): require regular file for --skip-existing fast path
  CHANGELOG.md
  src/python/cloud/gdrive_download.py
Due: python

test(gdrive-recover): cover --skip-existing branches and collision handling
  tests/python/unit/test_gdrive_cli_folder_id.py
  tests/python/unit/test_gdrive_download.py
  tests/python/unit/test_gdrive_recover.py
  tests/python/unit/test_gdrive_report.py
Due: none

fix(backup): honour script-level params and auto-detect pg_dump
  CHANGELOG.md
  VERSION
  src/powershell/backup/Backup-GnuCashDatabase.ps1
  src/powershell/modules/Database/PostgresBackup/CHANGELOG.md
  src/powershell/modules/Database/PostgresBackup/PostgresBackup.psd1
  src/powershell/modules/Database/PostgresBackup/Private/Config.ps1
  src/powershell/modules/Database/PostgresBackup/README.md
Due: powershell

fix(backup): pick newest pg_dump across all install roots
  CHANGELOG.md
  VERSION
  src/powershell/modules/Database/PostgresBackup/CHANGELOG.md
  src/powershell/modules/Database/PostgresBackup/PostgresBackup.psd1
  src/powershell/modules/Database/PostgresBackup/Private/Config.ps1
Due: powershell

refactor(backup): split pg_dump resolution to cut complexity
  CHANGELOG.md
  VERSION
  src/powershell/modules/Database/PostgresBackup/CHANGELOG.md
  src/powershell/modules/Database/PostgresBackup/PostgresBackup.psd1
  src/powershell/modules/Database/PostgresBackup/Private/Config.ps1
Due: powershell

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(gdrive_recover): add --timestamped-output for per-run log/failed files
  CHANGELOG.md
  VERSION
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
Due: python

fix(gdrive_recover): add microsecond precision to --timestamped-output suffix
  CHANGELOG.md
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_recover.py
Due: python

test(gdrive_recover): add unit tests for --timestamped-output / _apply_timestamped_output
  tests/python/unit/test_gdrive_cli_timestamped_output.py
Due: none

docs(cloud/changelog): condense [1.18.0]–[1.18.17] and fix version/chronology anomalies
  src/python/cloud/CHANGELOG.md
Due: python

docs(changelog): condense [Pre-release] - 2024 into Foundation block
  CHANGELOG.md
Due: none

refactor(Expand-ZipsAndClean): centralize Write-Progress and fix off-by-one byte counter (#975)
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

feat(modules): extract archive primitives into Core/Zip module (closes #976)
  docs/architecture/module-dependencies.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/Core/Zip/CHANGELOG.md
  src/powershell/modules/Core/Zip/Private/Resolve-ExtractionError.ps1
  src/powershell/modules/Core/Zip/Private/Resolve-ZipEntryDestinationPath.ps1
  src/powershell/modules/Core/Zip/Private/Test-IsEncryptedZipError.ps1
  src/powershell/modules/Core/Zip/Public/Expand-ZipFlat.ps1
  src/powershell/modules/Core/Zip/Public/Expand-ZipSmart.ps1
  src/powershell/modules/Core/Zip/Public/Expand-ZipToSubfolder.ps1
  src/powershell/modules/Core/Zip/Public/Get-ZipFileStats.ps1
  src/powershell/modules/Core/Zip/README.md
  src/powershell/modules/Core/Zip/Zip.psd1
  src/powershell/modules/Core/Zip/Zip.psm1
  src/powershell/modules/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(tests): fix Pester failures from region-marker collision and intra-module mocks
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

refactor(zip): extract per-entry logic into Invoke-ZipEntryWrite to reduce cognitive complexity
  src/powershell/modules/Core/Zip/Private/Invoke-ZipEntryWrite.ps1
  src/powershell/modules/Core/Zip/Public/Expand-ZipFlat.ps1
Due: powershell

docs(changelog): condense [2.10.0]–[2.11.0] FileDistributor Main decomposition chain (#948)
  CHANGELOG.md
Due: none

docs(changelog): condense [2.3.1]–[2.9.1] releases and drop legacy issue refs (#949)
  CHANGELOG.md
Due: none

docs(cloud/CHANGELOG): consolidate [1.9.0]–[1.17.0] module-extraction arc
  src/python/cloud/CHANGELOG.md
Due: python

docs(cloud/CHANGELOG): qualify no-behaviour-change claim in consolidated block
  src/python/cloud/CHANGELOG.md
Due: python

feat(filesystem): add Test-DirectoryWritable and path-separator helpers
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/FileSystem/CHANGELOG.md
  src/powershell/modules/Core/FileSystem/FileSystem.psd1
  src/powershell/modules/Core/FileSystem/Public/Add-TrailingSeparator.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-DirectoryWritable.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-PathContainment.ps1
  tests/powershell/unit/FileSystem.Tests.ps1
Due: powershell

fix(filesystem): use file probe and platform-agnostic paths
  src/powershell/modules/Core/FileSystem/CHANGELOG.md
  src/powershell/modules/Core/FileSystem/Public/Test-DirectoryWritable.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-PathContainment.ps1
  tests/powershell/unit/FileSystem.Tests.ps1
Due: powershell

fix(expand-zips): suppress Test-DirectoryWritable return value
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(filesystem): log probe cleanup failure instead of silently swallowing it
  src/powershell/modules/Core/FileSystem/Public/Test-DirectoryWritable.ps1
Due: powershell

refactor(Expand-ZipsAndClean): extract Write-ExtractionSummary helper (issue #978)
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): option 2 error visibility + fix Pester pipeline mocks
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): allow empty Errors collection; add ConsoleWidth param
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): add -PassThru for reliable field assertions in tests
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): fix try-in-parentheses syntax error in effectiveWidth
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

refactor(Expand-ZipsAndClean): fix SonarCloud S3776 and S2228 in Write-ExtractionSummary
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

test(Expand-ZipsAndClean): add Pester tests for extraction helpers (#979)
  docs/guides/testing.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(test): make Test-ScriptPreconditions tests cross-platform (#979)
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

feat(Expand-ZipsAndClean): add PS7 parallel extraction with -ThrottleLimit (#980)
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): honour WhatIf/Confirm in parallel extraction path
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

test(Expand-ZipsAndClean): fix corrupt-zip fixture in parallel error test
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

refactor(Expand-ZipsAndClean): split Invoke-ZipExtractions to reduce cognitive complexity
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

fix(Expand-ZipsAndClean): eliminate code duplication flagged by SonarCloud
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

feat(Expand-ZipsAndClean): make default Source/Destination paths configurable via env vars
  .env.example
  docs/ENVIRONMENT.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): treat blank env vars as unset in Source/Destination defaults
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

docs(file-management): slim Expand-ZipsAndClean header notes
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell
