Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

fix(zip-extraction): switch ZipExtraction tests to Flat mode to avoid Expand-Archive issue
  tests/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.Tests.ps1
Due: none

fix(zip-extraction): replace integration tests with mock-based unit tests for Invoke-SingleZipExtraction
  tests/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.Tests.ps1
Due: none

fix(tests): use real FileInfo objects in ZipExtraction unit tests
  tests/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.Tests.ps1
Due: none

refactor(Expand-ZipsAndClean): remove ZipExtraction wrapper/command-resolution block
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): harden import guard and call site against name collisions
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

docs(gdrive): rename and rescope CHANGELOG to Drive Trash Recovery tool
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_recover.py
Due: python

docs(gdrive): rebalance CHANGELOG detail for low-impact entries
  src/python/cloud/CHANGELOG-gdrive-recover.md
Due: python

docs(changelog): deduplicate triplicated Fixed entries across 2.5.1/2.5.3/2.6.0
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
Due: powershell

fix(changelog): move 16 ZipExtraction Fixed bullets from 2.5.1 to 2.6.0
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
Due: powershell

refactor(gdrive_discovery): extract id prefetcher with typed counters
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_id_prefetch.py
Due: python

fix(gdrive_discovery): repair prefetcher cache access for file-id discovery
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_id_prefetch.py
Due: python

fix(gdrive_discovery): remove duplicated prefetch method definitions
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_discovery.py
Due: python

test(gdrive_discovery): remove unused prefetch arg and expand coverage
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_discovery.py
  tests/python/unit/test_gdrive_discovery_retry_classification.py
  tests/python/unit/test_gdrive_id_prefetch.py
Due: python

test(gdrive_id_prefetch): expand coverage for prefetch and parity paths
  src/python/cloud/CHANGELOG-gdrive-recover.md
  tests/python/unit/test_gdrive_id_prefetch.py
Due: python

docs(gdrive): note semver caveat and consolidate 2026-05-14 changelog patches
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
Due: python

refactor(gdrive_cloud): consolidate duplicated console symbol/print helpers into shared utility
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_console.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_report.py
  tests/python/unit/test_gdrive_discovery_retry_classification.py
Due: python

style(gdrive_cloud): apply black formatting to gdrive_discovery and gdrive_report
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_report.py
Due: python

test(gdrive_cloud): add coverage for ConsoleHelper and uncovered RecoveryReporter methods
  tests/python/unit/test_gdrive_console.py
  tests/python/unit/test_gdrive_report.py
Due: none

style(tests): apply black formatting to test_gdrive_report
  tests/python/unit/test_gdrive_report.py
Due: none

docs(gdrive): standardise consolidated changelog headings
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
Due: python

docs(gdrive): consolidate 1.26.2-1.26.5 changelog and refine 1.26.4 wording
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
Due: python

docs(gdrive): move gdrive_recover usage examples to docs
  CHANGELOG.md
  README.md
  docs/gdrive-recover-usage.md
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_recover.py
Due: python

fix(gdrive_cli): fix three correctness bugs in lock management and run dispatch
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
Due: python

test(gdrive_cli): add unit tests for lock management and run dispatch
  tests/python/unit/test_gdrive_cli_lock_management.py
Due: none

fix(tests): construct StateScopeMismatchError with RecoveryStateScope objects
  tests/python/unit/test_gdrive_cli_lock_management.py
Due: none

fix(gdrive): correct SemVer historical note and 1.8.x changelog dates
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
Due: python

docs(gdrive): resolve [Unreleased] and condense 1.23.0–1.26.6 entries
  src/python/cloud/CHANGELOG-gdrive-recover.md
Due: python

fix(gdrive_cli): use shared file_operations for path validation
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
Due: python

fix(gdrive_cli): restore default import compatibility for shared file utils
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: python

refactor(gdrive_cli): replace inline symbol helpers with ConsoleHelper
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
Due: python

style(gdrive_cli): apply black formatting
  src/python/cloud/gdrive_cli.py
Due: python

fix(gdrive_cli): fix broken tests after _load_retry_failed_file signature change
  src/python/cloud/gdrive_cli.py
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: python

fix(gdrive_cli): use PostRestorePolicy.TRASH as getattr default in folder-id check
  src/python/cloud/gdrive_cli.py
Due: python

test(gdrive_cli): add ConsoleHelper integration tests to lift new-code coverage
  tests/python/unit/test_gdrive_cli_console_helper.py
Due: none

style(test_gdrive_cli_console_helper): apply black formatting
  tests/python/unit/test_gdrive_cli_console_helper.py
Due: none

refactor(gdrive_cli): extract help epilog to constant and fix output bugs
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
Due: python

style(gdrive_cli): wrap long print() call to satisfy Black
  src/python/cloud/gdrive_cli.py
Due: python

test(gdrive_cli): update concurrency assertions to read from stderr
  tests/python/unit/test_gdrive_cli_console_helper.py
Due: none

test(gdrive_cli): add wait-loop and empty-CSV coverage for #1133
  tests/python/unit/test_gdrive_cli_lock_management.py
Due: none

docs(changelog): condense gdrive 1.18.x–1.22.0 entries and remove trivial patches
  src/python/cloud/CHANGELOG-gdrive-recover.md
Due: python

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
