Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

feat(FileDistributor): modularize post-processing algorithms with enhanced parameter propagation
  CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-DistributionRandomize.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderConsolidation.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderRebalance.ps1
Due: powershell

refactor(cloud): extract gdrive rate limiter module
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_rate_limiter.py
  src/python/cloud/gdrive_recover.py
Due: python

fix(cloud): restore gdrive_recover rate-limit compatibility shims
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_recover.py
Due: python

refactor(cloud): extract file discovery logic into DriveTrashDiscovery class
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_recover.py
Due: python

refactor(cloud): import DriveTrashDiscovery under error handling guard
  src/python/cloud/gdrive_recover.py
Due: python

refactor(cloud): delegate file discovery methods to DriveTrashDiscovery class
  src/python/cloud/gdrive_recover.py
Due: python

refactor(cloud): simplify error handling in DriveTrashDiscovery class
  src/python/cloud/gdrive_discovery.py
Due: python

refactor(cloud): streamline file discovery pagination in DriveTrashDiscovery class
  src/python/cloud/gdrive_discovery.py
Due: python

refactor(FileDistributor): replace private retry wrappers with Core modules
  CHANGELOG.md
  README.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psm1
  src/powershell/modules/FileManagement/FileDistributor/Private/FolderOps.ps1
  src/powershell/modules/FileManagement/FileDistributor/Private/RetryOps.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderConsolidation.ps1
Due: powershell

fix(FileDistributor): skip missing source files during copy race
  CHANGELOG.md
  README.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/FolderOps.ps1
Due: powershell

fix: clamp Get-Random -Count to actual file count in Invoke-TargetRedistribution
  src/powershell/file-management/CHANGELOG.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-TargetRedistribution.ps1
Due: powershell

fix(FileDistributor): update version to 4.7.7 and qualify warning/error references in Invoke-EndOfScriptDeletion
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

Fix undefined LogMessage calls in Resolve-SubfolderPath
  src/powershell/modules/FileManagement/FileDistributor/Private/PathHelpers.ps1
Due: powershell

Bump version to 4.7.8 / module 1.1.7; update CHANGELOG
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
Due: powershell

Fix warning counter drop in Resolve-SubfolderPath (4.7.9 / module 1.1.8)
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/PathHelpers.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FileDistribution.ps1
Due: powershell

Fix #816: replace script-scope LogMessage/Write-DistributionSummary with Write-Log* in post-processing module functions
  CHANGELOG.md
  VERSION
  src/powershell/file-management/CHANGELOG.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/Distribution.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-DistributionRandomize.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderConsolidation.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderRebalance.ps1
Due: powershell

fix(powershell): Bump version to 2.12.9 and update CHANGELOG for FileDistributor module
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/State.ps1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell

Fix Invoke-FileDistribution Files parameter typing
  README.md
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FileDistribution.ps1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell

fix(filedistributor): route completion logging through framework
  CHANGELOG.md
  VERSION
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FileDistribution.ps1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell

Fix Invoke-TargetRedistribution dead params/guard and bump versions
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-TargetRedistribution.ps1
Due: powershell

docs: condense changelog entries for v2.4.1-v2.8.0
  CHANGELOG.md
  README.md
Due: none

docs(changelog): remove misplaced FileQueue note from v2.7.0
  CHANGELOG.md
Due: none

Optimize SonarCloud workflow: fix PS cache ordering, remove duplicate steps
  .github/workflows/sonarcloud.yml
Due: none

fix(gdrive): patch runtime regressions in discovery and versioning
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_recover.py
  tests/python/unit/test_gdrive_recover.py
Due: python

chore(gdrive): fix python formatting check for recovery module
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_recover.py
Due: python

fix(gdriverecover): optimize DriveAuthManager and RecoveryStateManager for efficiency and clarity
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_auth.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_auth.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_recover.py
Due: python

fix(gdrive): add comment to clarify usage of os.kill for PID existence check
  src/python/cloud/gdrive_state.py
Due: python

fix(gdrive): improve comment clarity for PID existence check in _pid_is_alive method
  src/python/cloud/gdrive_state.py
Due: python

refactor(cloud): remove dead streaming/rate-limit shim code
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
  tests/python/unit/test_gdrive_recover.py
Due: python

refactor(cloud): remove dead streaming/rate-limit shim code
  src/python/cloud/gdrive_recover.py
Due: python

fix(cloud): restore streaming helpers in discovery for issue 851
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  tests/python/unit/test_gdrive_recover.py
Due: python

docs(crop_colours): slim docstring and migrate to external files (v4.0.2)
  src/python/media/CHANGELOG.md
  src/python/media/README.md
  src/python/media/crop_colours.py
Due: python

fix(crop_colours): restore ASCII triple-quote docstring delimiters
  src/python/media/crop_colours.py
Due: python

docs: condense 4.7.x post-modularisation fixes into a rollup entry
  src/powershell/file-management/CHANGELOG.md
Due: powershell

refactor(cloud): extract drive operations and shared retry helper
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_retry.py
  tests/python/unit/test_gdrive_operations.py
  tests/python/unit/test_gdrive_retry.py
Due: python

fix(cloud): restore discovery time import and black formatting
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_retry.py
  tests/python/unit/test_gdrive_operations.py
Due: python

fix(cloud): classify prefetch errors by status code
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_retry.py
  tests/python/unit/test_gdrive_discovery_retry_classification.py
  tests/python/unit/test_gdrive_operations.py
  tests/python/unit/test_gdrive_retry.py
Due: python

fix(data): correctly resolve lazy imports at runtime
  CHANGELOG.md
  src/python/data/README.md
  src/python/data/seat_assignment.py
  tests/python/unit/test_seat_assignment_import.py
Due: python

fix(cloud): reduce retry complexity and de-duplicate http labels
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_retry.py
  tests/python/unit/test_gdrive_discovery_retry_classification.py
  tests/python/unit/test_gdrive_retry.py
Due: python

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
