Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

test(expand-zipsandclean): remove env-var and smoke-only pester checks
  CHANGELOG.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

build(deps): bump sqlfluff minimum to 4.2.0 for GHSA fixes
  CHANGELOG.md
  requirements.txt
Due: none

build(deps): update locked sqlfluff to 4.2.0
  CHANGELOG.md
  requirements.lock
Due: none

docs(changelog): restructure for clarity and remove component-level duplication
  CHANGELOG.md
Due: none

test(Expand-ZipsAndClean): remove 6 duplicate code-path tests
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

refactor(expand-zipsandclean): migrate phase progress to core show-progress
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/Core/Progress/Public/Show-Progress.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(changelog): remove duplicate expand-zipsandclean 2.5.2 entries
  CHANGELOG.md
Due: none

fix(expand-zipsandclean): restore progress fallback for helper-only test loads
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(Expand-ZipsAndClean): reuse Core/FileOperations retry helpers for move and per-item cleanup
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(FileOperations): use -LiteralPath in Move/Remove-FileWithRetry; fix test CI failure
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/modules/Core/FileOperations/Public/Move-FileWithRetry.ps1
  src/powershell/modules/Core/FileOperations/Public/Remove-FileWithRetry.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

test(Expand-ZipsAndClean): remove 4 duplicate/low-value It blocks
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

feat(file-management): extract zip extraction orchestration module
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/Private/Orchestration.Helpers.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-ParallelZipExtractions.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-SerialZipExtractions.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-ZipExtractions.ps1
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
Due: powershell

fix(file-management): restore zip orchestration wrapper binding
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/Private/Expand-ZipInRunspace.ps1
Due: powershell

fix(file-management): resolve zipextraction wrapper module loading
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): guard empty wrapper module path roots
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): resolve zipextraction via filesystem module root
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): add fallback zipextraction module locator
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): probe upward for zipextraction module path
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): add helper-load fallback for zipextraction
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): avoid recursive wrapper dispatch in fallback
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): add zip extraction logging fallbacks
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
Due: powershell

fix(file-management): add progress fallback for zip extraction module
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
Due: powershell

fix(file-management): add extraction summary fallback in module
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
Due: powershell

refactor(file-management): simplify zip extraction resolver wrappers
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(file-management): reduce wrapper duplication for sonar
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-management): splat psboundparameters in zip delegate
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(file-management): reduce duplication in module zip dispatch
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-ZipExtractions.ps1
Due: powershell

refactor(file-management): reduce module dispatch duplication
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-ZipExtractions.ps1
Due: powershell

refactor(file-management): compact zip dispatch signature for sonar
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-ZipExtractions.ps1
Due: powershell

refactor(core-zip-tests): move Zip module tests into dedicated suite
  CHANGELOG.md
  src/powershell/modules/Core/Zip/CHANGELOG.md
  src/powershell/modules/Core/Zip/README.md
  tests/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
  tests/powershell/modules/Core/Zip/Zip.Tests.ps1
Due: powershell

fix(core-zip-tests): correct relocated suite module import depth
  CHANGELOG.md
  src/powershell/modules/Core/Zip/CHANGELOG.md
  tests/powershell/modules/Core/Zip/Zip.Tests.ps1
Due: powershell

fix(gdrive_discovery): correct ID/streaming/query discovery bugs
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  tests/python/unit/test_gdrive_folder_discovery.py
Due: python

style(tests): apply Black formatting to test_gdrive_folder_discovery
  tests/python/unit/test_gdrive_folder_discovery.py
Due: none

docs(cloud/changelog): reformat [1.19.0]–[1.26.0] to bullet style; add Keep a Changelog scaffolding
  src/python/cloud/CHANGELOG.md
Due: python

docs(cloud/changelog): restore accurate per-source scope-key description in [1.23.0]
  src/python/cloud/CHANGELOG.md
Due: python

refactor(gdrive_discovery): remove dead helper methods and unused state (#1084)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_recover.py
  tests/python/unit/test_gdrive_recover.py
Due: python

style(gdrive_discovery): restore blank line before TYPE_CHECKING block
  src/python/cloud/gdrive_discovery.py
Due: python

refactor(zip-extraction): extract Invoke-SingleZipExtraction to eliminate serial/runspace duplication
  src/powershell/modules/FileManagement/ZipExtraction/Private/Expand-ZipInRunspace.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Private/Invoke-SingleZipExtraction.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-ParallelZipExtractions.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-SerialZipExtractions.ps1
  tests/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.Tests.ps1
Due: powershell

refactor(zip-extraction): extract Resolve-MoveTarget from Move-ZipFilesToParent
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

chore(zip-extraction): update CHANGELOG and bump version to 2.6.1
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
Due: powershell
