Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

fix(tests): fix Git Hooks test failures in CI
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): resolve TestDrive conflict in Git Hooks tests
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): add missing mocks and fix test expectations
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): define logging functions globally to fix scope issue
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(git-hooks): fix single-line config parsing bug
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

fix(tests): set environment variables for cross-platform compatibility
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): add mocks to author sanitization test
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): add parameter signatures to Resolve-Path and Test-Path mocks
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): make mock parameters explicitly optional
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): remove ErrorAction from mock parameters
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): remove $Path parameter from Test-Path mocks to fix parameter set ambiguity
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): move Resolve-Path and Test-Path mocks to BeforeAll for global scope
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): replace Pester mocks with global function overrides for cmdlets
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): make Test-Path override smarter to handle non-existent files
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

Fix Resolve-Path mock parameters
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): update Resolve-Path mock to use CmdletBinding for better parameter handling
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): add Test-TextSafe function and improve path resolution in Deploy-ModuleFromConfig
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

fix(deployment): validate author and description fields before deployment
  src/powershell/git/Invoke-PostCommitHook.ps1
Due: powershell

fix(deployment): sanitize author and description fields with safe fallbacks
  src/powershell/git/Invoke-PostCommitHook.ps1
Due: powershell

fix(tests): add test for sanitizing author and description fields in Deploy-ModuleFromConfig
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

fix(tests): update test for sanitizing author field to include control character
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

Add environment configuration templates and validation
  .env.example
  .github/workflows/environment-validation.yml
  .gitignore
  CHANGELOG.md
  INSTALLATION.md
  docs/guides/environment-variables.md
  scripts/Load-Environment.ps1
  scripts/Verify-Environment.ps1
  scripts/load-environment.sh
  scripts/verify-environment.sh
  src/python/cloud/README.md
  src/python/cloud/gdrive_recover.py
Due: python

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/environment-validation.yml
Due: none

feat(tests): enhance sanitization test for author and description fields
  improved-test-sanitizes-author.ps1
Due: none

fix(tests): improve parameter formatting and add mock for Test-ModuleSanity
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

feat(tests): add mock for Get-HeaderVersion to return version 1.0.0
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

fix(tests): update mocks for New-DirectoryIfMissing and Copy-Item to return true
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

feat(tests): set up common mocks for Deploy-ModuleFromConfig tests
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

fix(tests): remove unnecessary mocks and improve error handling in Deploy-ModuleFromConfig tests
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
Due: none

fix(tests): add missing mocks to Deploy-ModuleFromConfig tests in Invoke-PostMergeHook
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

feat(tests): add mocks for Test-ModuleSanity and Get-HeaderVersion in Deploy-ModuleFromConfig tests
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(tests): fix Deploy-ModuleFromConfig test sanitization and add missing mocks
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none

fix(python): initialize logger at module level in all Python modules (#511)
  CHANGELOG.md
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/drive_space_monitor.py
  src/python/cloud/google_drive_root_files_delete.py
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/seat_assignment.py
  src/python/media/find_duplicate_images.py
  src/python/media/recover_extensions.py
  src/python/modules/auth/elevation.py
  src/python/modules/auth/google_drive_auth.py
  tests/python/unit/test_module_logger_initialization.py
Due: python

fix(logging): ensure consistent logger initialization and usage across modules
  scripts/Verify-Environment.ps1
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/drive_space_monitor.py
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/seat_assignment.py
  src/python/media/find_duplicate_images.py
  src/python/media/recover_extensions.py
  src/python/modules/auth/elevation.py
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
  tests/powershell/unit/PostgresBackup.Tests.ps1
  tests/python/unit/test_module_logger_initialization.py
Due: python

test: make logger initialization tests skip gracefully when dependencies are missing
  tests/python/unit/test_module_logger_initialization.py
Due: none

style: format all code with automated formatters
  tests/python/unit/test_module_logger_initialization.py
Due: none

feat(config): add Task Scheduler templates with placeholders (#512)
  .gitignore
  CHANGELOG.md
  INSTALLATION.md
  config/tasks/Clear Old Recycle Bin Items.xml.template
  config/tasks/Delete Old Downloads.xml.template
  config/tasks/Drive Space Monitor.xml.template
  config/tasks/Monthly System Health Check.xml.template
  config/tasks/PostgreSQL Gnucash Backup.xml.template
  config/tasks/PostgreSQL job_scheduler Backup.xml.template
  config/tasks/PostgreSQL timeline_data Backup.xml.template
  config/tasks/Postgres Log Cleanup.xml.template
  config/tasks/Sync Macrium Backups.xml.template
  scripts/Install-ScheduledTasks.ps1
  scripts/Uninstall-ScheduledTasks.ps1
Due: none

fix: remove hardcoded paths from PowerShell scripts and batch files (#513)
  .gitignore
  CHANGELOG.md
  config/secrets/README.md
  src/batch/RunDeleteOldDownloads.bat
  src/powershell/automation/Update-ScheduledTaskScriptPaths.ps1
  src/powershell/backup/Backup-GnuCashDatabase.ps1
  src/powershell/backup/Backup-TimelineDatabase.ps1
  src/powershell/cloud/Invoke-CloudConvert.ps1
  src/powershell/file-management/Get-FileHandle.ps1
  src/powershell/file-management/Restore-FileExtension.ps1
Due: powershell

docs: fix hardcoded paths in documentation (#514)
  .github/workflows/code-formatting.yml
  CHANGELOG.md
  CONTRIBUTING.md
  VERSION
  docs/conventions/placeholders.md
  docs/system-health-check.md
  scripts/Check-DocumentationPaths.ps1
Due: none

style: format all code with automated formatters
  scripts/Check-DocumentationPaths.ps1
  scripts/Install-ScheduledTasks.ps1
  scripts/Uninstall-ScheduledTasks.ps1
  src/powershell/cloud/Invoke-CloudConvert.ps1
Due: powershell
