Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

chore(gdrive_recover): bump version to 1.8.2, add CHANGELOG entry
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_recover.py
Due: python

chore(gdrive_recover): add CHANGELOG.md pointer in docstring, bump to 1.8.3
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_recover.py
Due: python

fix(gdrive_recover): replace smart quotes in __version__ with ASCII quotes
  src/python/cloud/gdrive_recover.py
Due: python

refactor(file-distributor): reduce script-scope coupling in orchestration
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

feat(errorhandling): add optional file-not-found skip in invoke-withretry
  CHANGELOG.md
  README.md
  VERSION
  docs/guides/using-shared-utilities.md
  src/powershell/modules/Core/ErrorHandling/ErrorHandling.psd1
  src/powershell/modules/Core/ErrorHandling/Public/Invoke-WithRetry.ps1
  src/powershell/modules/Core/ErrorHandling/README.md
  tests/powershell/unit/ErrorHandling.Tests.ps1
Due: powershell

feat(purgelogs): accept single-letter size suffixes in ConvertTo-Bytes
  src/powershell/modules/Core/Logging/PurgeLogs.psd1
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/Public/ConvertTo-Bytes.ps1
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
  tests/powershell/unit/PurgeLogs.Tests.ps1
Due: powershell

fix(purgelogs): align root module parser and manifest-based tests
  src/powershell/modules/Core/Logging/PurgeLogs.psd1
  src/powershell/modules/Core/Logging/PurgeLogs.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
  tests/powershell/unit/PurgeLogs.Tests.ps1
Due: powershell

refactor(logging): route FileDistributor cleanup through PurgeLogs
  CHANGELOG.md
  VERSION
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/Core/Logging/PurgeLogs.psd1
  src/powershell/modules/Core/Logging/PurgeLogs.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/Public/Clear-LogFile.ps1
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
  tests/powershell/unit/PurgeLogs.Tests.ps1
Due: powershell

chore: fix eof newline in PurgeLogs Clear-LogFile public script
  src/powershell/modules/Core/Logging/PurgeLogs/Public/Clear-LogFile.ps1
Due: powershell

fix(purgelogs): handle missing logging framework during Clear-LogFile
  CHANGELOG.md
  VERSION
  src/powershell/modules/Core/Logging/PurgeLogs.psd1
  src/powershell/modules/Core/Logging/PurgeLogs.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/Public/Clear-LogFile.ps1
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
Due: powershell

fix(purgelogs): use compatible timestamp parse overloads
  CHANGELOG.md
  VERSION
  src/powershell/modules/Core/Logging/PurgeLogs.psd1
  src/powershell/modules/Core/Logging/PurgeLogs.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/Public/Clear-LogFile.ps1
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
Due: powershell

refactor(file-distributor): tighten Invoke-FileMove contract
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(file-distributor): extract count and summary helpers
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

fix(file-distributor): restore fallback subfolder candidates on scan failures
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix unreachable delete_duplicates call in run_pipeline
  src/python/media/find_duplicate_images.py
Due: python

Fix incorrect v0.0 version in startup log message
  src/powershell/modules/Media/Videoscreenshot/Private/New-RunContext.ps1
Due: powershell

Fix PID registry file not deleted and spurious warning at run end
  src/powershell/modules/Media/Videoscreenshot/Private/PidRegistry.ps1
Due: powershell

refactor(FileDistributor): scaffold module and move path helpers
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psm1
  src/powershell/modules/FileManagement/FileDistributor/Private/PathHelpers.ps1
Due: powershell

refactor(gdrive): extract gdrive_constants.py from gdrive_recover.py (v1.9.0)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
Due: python

refactor(filedistributor): modularize state and lock helpers
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/FileLock.ps1
  src/powershell/modules/FileManagement/FileDistributor/Private/State.ps1
Due: powershell

fix(filedistributor): remove unsupported New-FileQueue args
  CHANGELOG.md
  VERSION
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

Refactor: extract data model types into gdrive_models.py (v1.10.0)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_models.py
  src/python/cloud/gdrive_recover.py
Due: python

style(multiple): Formatting standardisation
  scripts/Profile-Helpers.ps1
  scripts/Update-RepoIndex.ps1
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
  src/powershell/modules/Core/ErrorHandling/Public/Invoke-WithRetry.ps1
  src/powershell/modules/Core/Logging/PurgeLogs.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/Public/Clear-LogFile.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/New-RunContext.ps1
Due: powershell

style(python): align gdrive_recover with pre-commit black
  src/python/cloud/gdrive_recover.py
Due: python

doc(CHANGELOG) remove redundant CHANGELOG entries
  CHANGELOG.md
Due: none

refactor(cloud): extract gdrive CLI into gdrive_cli module
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_recover.py
Due: python

Condense verbose [2.3.1] and pre-release changelog entries
  CHANGELOG.md
Due: none

refactor(FileDistributor): move serialization and folder-ops helpers to module (v4.6.17)
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/FolderOps.ps1
  src/powershell/modules/FileManagement/FileDistributor/Private/Serialization.ps1
Due: powershell

fix(ci): make SonarCloud step conditional on SONAR_TOKEN availability
  .github/workflows/sonarcloud.yml
Due: none

feat(FileDistributor): modularise core distribution algorithms (issue #777)
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/Distribution.ps1
  src/powershell/modules/FileManagement/FileDistributor/Private/FolderOps.ps1
  src/powershell/modules/FileManagement/FileDistributor/Private/RetryOps.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FileDistribution.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-TargetRedistribution.ps1
Due: powershell

fix(FileDistributor): restore warning/error accounting and propagate MaxBackoff
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/Private/FolderOps.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FileDistribution.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-TargetRedistribution.ps1
Due: powershell

refactor(cloud): extract recovery state manager (issue #788)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
Due: python

fix(cloud): restore state-load error accounting
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
Due: python

style(python): align formatting with repository checks
  src/python/cloud/gdrive_state.py
Due: python

refactor(cloud): extract authentication into gdrive_auth.py (issue #789)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_auth.py
  src/python/cloud/gdrive_recover.py
Due: python

style(python): align formatting with repository checks
  src/python/cloud/gdrive_recover.py
Due: python

fix(cloud): remove unnecessary HTTP adapter for HTTP requests in DriveAuthManager
  src/python/cloud/gdrive_auth.py
Due: python

test(cloud): add unit tests for DriveAuthManager and HTTP adapter functionality
  .vscode/settings.json
  tests/python/unit/test_cloud_gdrive_auth.py
  tests/python/unit/test_gdrive_recover.py
Due: none

feat(FileDistributor): add module APIs for Randomize, Consolidation, and Rebalance
  .vscode/settings.json
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-DistributionRandomize.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderConsolidation.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderRebalance.ps1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell
