Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

refactor(cloud): reduce with_retries cognitive complexity
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_retry.py
Due: python

refactor(tests): merge duplicate error Contexts and remove dead mock code in PostgresBackup.Tests.ps1
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

refactor(Copy-AndroidFiles): extract Write-VerifySummary and fix Write-Warning logging bug
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/Copy-AndroidFiles.ps1
Due: powershell

docs(file-management/CHANGELOG): add per-script section dividers
  src/powershell/file-management/CHANGELOG.md
Due: powershell

refactor(PostgresBackup.Tests): consolidate retention-policy contexts and relocate format tests
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

refactor(PostgresBackup.Tests): correct misleading test names and unify platform checks
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

fix: replace exit 1 with throw in Backup-PostgresDatabase catch blocks
  src/powershell/modules/Database/PostgresBackup/Public/Backup-PostgresDatabase.ps1
Due: powershell

fix(test): correct misleading test descriptions and improve retention policy logic
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

refactor(tests): remove redundant and low-value tests for Backup-PostgresDatabase
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

docs: roll up FileDistributor 4.6.x in file-management changelog
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/README.md
Due: powershell

refactor(Copy-AndroidFiles): extract Invoke-ProgressWhileProcess helper to eliminate duplicated progress polling logic in Copy-AndroidFiles.ps1
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/Copy-AndroidFiles.ps1
Due: powershell

docs(copy-androidfiles): restore migrated version history in changelog
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/Copy-AndroidFiles.ps1
  src/powershell/file-management/README.md
Due: powershell

feat(crop_colours): extract core image-processing functions into _image_ops module and update changelog
  src/python/media/CHANGELOG.md
  src/python/media/__init__.py
  src/python/media/_image_ops.py
  src/python/media/crop_colours.py
  tests/python/unit/test_image_ops.py
  tests/python/unit/test_smoke.py
Due: python

docs(file-management): audit changelog dates and refresh README entries
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/README.md
Due: powershell

docs(changelog): normalize file-management changelog structure
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/README.md
Due: powershell

docs(file-management): consolidate FileDistributor 4.6.x/4.7.x rollups
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/README.md
Due: powershell

refactor(DriveTrashRecoveryTool): use RecoveryReporter for console output
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_auth.py
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_report.py
  src/python/cloud/gdrive_state.py
Due: python

docs(README): fix structural defects, remove dead content, and collapse duplicate sections
  README.md
Due: none

docs(changelog): condense FileDistributor 3.3.0-4.5.0 history
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/README.md
Due: powershell

docs: sync FileDistributor 4.7.x notes and README metadata
  README.md
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(Copy-AndroidFiles): enhance Android ADB Helpers Module
  README.md
  config/modules/deployment.txt
  docs/architecture/module-dependencies.md
  psmodule.toml
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/Copy-AndroidFiles.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/Android/AdbHelpers/AdbHelpers.psd1
  src/powershell/modules/Android/AdbHelpers/AdbHelpers.psm1
  src/powershell/modules/Android/AdbHelpers/Public/Confirm-Device.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Get-RemoteFileCount.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Get-RemoteSize.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Invoke-AdbSh.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Test-Adb.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Test-HostTar.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Test-PhoneTar.ps1
  src/powershell/modules/README.md
  testResults.xml
  tests/powershell/unit/AdbHelpers.Tests.ps1
Due: powershell

refactor(Invoke-AdbSh): replace adb shell command with Invoke-AdbCommand wrapper
  src/powershell/modules/Android/AdbHelpers/Private/Invoke-AdbCommand.ps1
  src/powershell/modules/Android/AdbHelpers/Public/Invoke-AdbSh.ps1
  tests/powershell/unit/AdbHelpers.Tests.ps1
Due: powershell

refactor(tests): reduce duplication and test retention helpers directly
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

fix(tests): use 1-day future timestamp to anchor recent file in retention_days=0 test
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

fix(tests): seed recent testdb backup in database-scoping test
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

fix(tests): update script invocation from pwsh to powershell and enhance module export validation
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: none

fix(tests): update script invocation to use dynamic PowerShell runner for cross-platform compatibility
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: none

refactor(Invoke-FuleDistribution): streamline error handling and logging in Invoke-FileDistribution
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FileDistribution.ps1
Due: powershell

refactor(FileDistributor): move Get-BestReceiver to private scope; fix Remove-Item on state file
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Private/Distribution.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-FolderRebalance.ps1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-PostRunCleanup.ps1
Due: powershell

refactor(filesystem,expand-zipsandclean): extract path utilities to shared module
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/FileSystem/FileSystem.psd1
  src/powershell/modules/Core/FileSystem/Private/Resolve-UniquePathCore.ps1
  src/powershell/modules/Core/FileSystem/Public/Format-Bytes.ps1
  src/powershell/modules/Core/FileSystem/Public/Get-FullPath.ps1
  src/powershell/modules/Core/FileSystem/Public/Get-SafeName.ps1
  src/powershell/modules/Core/FileSystem/Public/Resolve-UniqueDirectoryPath.ps1
  src/powershell/modules/Core/FileSystem/Public/Resolve-UniquePath.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-LongPathsEnabled.ps1
  tests/powershell/unit/FileSystem.Tests.ps1
Due: powershell

fix(filesystem): cross-platform compatibility for path utilities tests
  src/powershell/modules/Core/FileSystem/Public/Get-FullPath.ps1
  src/powershell/modules/Core/FileSystem/Public/Get-SafeName.ps1
Due: powershell

test(filesystem): fix OS-agnostic test expectations per review feedback
  tests/powershell/unit/FileSystem.Tests.ps1
Due: none

test(filesystem): align path and safe-name assertions with runtime behavior
  tests/powershell/unit/FileSystem.Tests.ps1
Due: none

chore(tests): remove generated testResults.xml
  testResults.xml
Due: none

feat(cloud): extract privilege checks and optimize discovery prefetch
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_models.py
  src/python/cloud/gdrive_privileges.py
  src/python/cloud/gdrive_recover.py
  tests/python/unit/test_gdrive_discovery_retry_classification.py
  tests/python/unit/test_gdrive_privileges.py
  tests/python/unit/test_gdrive_recover.py
Due: python

test(cloud): increase coverage for privilege checker
  tests/python/unit/test_gdrive_privileges.py
Due: none

docs(changelog): apply condensation baseline for issue #945
  CHANGELOG.md
  README.md
Due: none

docs(changelog): condense Sync-MacriumBackups pre-2.7.6 history
  CHANGELOG.md
Due: none

docs(changelog): roll up Copy-AndroidFiles 1.x legacy entries
  src/powershell/file-management/CHANGELOG.md
Due: powershell

docs(readme): remove internal project history and trim onboarding sections
  README.md
Due: none

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
