Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

fix(gdrive_auth): use temp-file-then-rename to write token on Windows
  CHANGELOG.md
  docs/ENVIRONMENT.md
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_auth.py
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_cloud_gdrive_auth.py
Due: python

test(gdrive_auth): cover BaseException cleanup block in _refresh_or_flow_creds
  tests/python/unit/test_cloud_gdrive_auth.py
Due: none

fix(overwrite): honour --overwrite when state file has already-processed items
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_operations.py
Due: python

test(gdrive_operations): cover --overwrite branches in _recover_file and _process_item
  tests/python/unit/test_gdrive_operations.py
Due: none

feat(overwrite): clear processed_items from state when --overwrite is used
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_recover.py
Due: python

style: wrap long print line in gdrive_recover to satisfy Black
  src/python/cloud/gdrive_recover.py
Due: python

fix(state): guard _clear_processed_items against null processed_items from JSON
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
Due: python

feat(report): add animated progress bar to recovery operations
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_report.py
  tests/python/unit/test_gdrive_report.py
Due: python

style: remove redundant parentheses in ProgressBar._format_line
  src/python/cloud/gdrive_report.py
Due: python

fix(tests): replace Invoke-Expression with dot-sourced ScriptBlock
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

feat(gdrive-recover): add optional log file and failed-file tracking
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  tests/python/unit/test_gdrive_operations.py
  tests/python/unit/test_gdrive_recover.py
Due: python

style(tests): wrap long assert line to satisfy Black
  tests/python/unit/test_gdrive_recover.py
Due: none

fix(gdrive-recover): propagate post-restore failures into item failure state
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_operations.py
  tests/python/unit/test_gdrive_operations.py
Due: python

test(gdrive-recover): increase new-code coverage to >=80%
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_gdrive_cli_folder_id.py
  tests/python/unit/test_gdrive_operations.py
Due: python

style(tests): wrap long import line to satisfy Black
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: none

refactor(expand-zips): de-duplicate stat computations and consolidate assembly load (issue #974)
  src/powershell/file-management/CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(expand-zips): fall back to Get-ZipFileStats in Expand-ZipSmart when ExpectedFileCount is omitted
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

test(expand-zips): mock Expand-Archive in PerArchiveSubfolder count tests
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

feat(gdrive-recover): CSV failed-file output and --retry-failed-file
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_models.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  tests/python/unit/test_gdrive_cli_folder_id.py
  tests/python/unit/test_gdrive_operations.py
Due: python

fix(gdrive-recover): address retry-mode correctness and safety issues
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_operations.py
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: python

test(gdrive-recover): fix assertion broken by _clear_failed_files CSV change
  tests/python/unit/test_gdrive_recover.py
Due: none

style(test-gdrive-recover): reformat assertion to satisfy black
  tests/python/unit/test_gdrive_recover.py
Due: none

refactor(gdrive-cli): extract _apply_retry_failed_file to cut main() complexity
  src/python/cloud/gdrive_cli.py
  tests/python/unit/test_gdrive_cli_folder_id.py
  tests/python/unit/test_gdrive_folder_discovery.py
Due: python

fix(gdrive-recover): only mark successfully processed items in state (#1027)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_report.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_gdrive_operations.py
Due: python

feat(gdrive-recover): add --fresh-run flag and narrow --overwrite (#1028)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_cli_folder_id.py
  tests/python/unit/test_gdrive_operations.py
  tests/python/unit/test_gdrive_recover.py
Due: python

fix(gdrive-cli): reject --fresh-run on dry-run subcommand
  src/python/cloud/gdrive_cli.py
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: python

refactor(gdrive-recover): split _prepare_recovery to drop cognitive complexity
  src/python/cloud/gdrive_recover.py
Due: python

feat(gdrive-recover): scope-aware state file with v1→v2 migration (#1029)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_models.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_operations.py
  tests/python/unit/test_gdrive_recover.py
Due: python

style: apply black formatting
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_recover.py
Due: python

refactor(gdrive-state): split _load_state to drop cognitive complexity
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
Due: python

fix(gdrive-recover): bump stats[skipped] on _process_item short-circuit
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_operations.py
  tests/python/unit/test_gdrive_operations.py
Due: python

feat(gdrive-recover): log structured end-of-run summary line
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_report.py
  tests/python/unit/test_gdrive_report.py
Due: python

fix(gdrive-recover): force final streaming progress render
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_report.py
  tests/python/unit/test_gdrive_recover.py
  tests/python/unit/test_gdrive_report.py
Due: python

feat(gdrive-recover): per-item step records with v2→v3 schema migration (#1030)
  src/python/cloud/CHANGELOG.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_models.py
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_operations.py
Due: python

style: apply black formatting to gdrive_models.py and test_gdrive_operations.py
  src/python/cloud/gdrive_models.py
  tests/python/unit/test_gdrive_operations.py
Due: python

fix(tests): update test_gdrive_recover to expect dict processed_items after v3 migration
  tests/python/unit/test_gdrive_recover.py
Due: none

fix(gdrive-state): guard _save_state serialization with _state_lock
  src/python/cloud/gdrive_state.py
Due: python

refactor: reduce cognitive complexity in _assign_recovery_state_fields and _process_item
  src/python/cloud/gdrive_operations.py
  src/python/cloud/gdrive_state.py
Due: python

fix(gdrive-cli): remove --download-dir from recover-only subcommand
  src/python/cloud/CHANGELOG.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: python

feat(gdrive-recover): add --skip-existing flag for local target collisions
  CHANGELOG.md
  VERSION
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_download.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/gdrive_report.py
Due: python
