Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

docs(changelog): restore [1.20.2] stub to preserve version continuity
  src/python/cloud/CHANGELOG-gdrive-recover.md
Due: python

test(expand-zipsandclean): collapse redundant helper assertions
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

test(expand-zipsandclean): restore non-PassThru interactive header assertion
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

test(expand-zips-and-clean): prune duplicate low-value helper tests
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(expand-zipsandclean): correct help attribution and whitespace env defaults
  CHANGELOG.md
  docs/ENVIRONMENT.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
Due: powershell

refactor(progress): relocate Show-ProgressPhase to Core/Progress module
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/Progress/CHANGELOG.md
  src/powershell/modules/Core/Progress/ProgressReporter.psd1
  src/powershell/modules/Core/Progress/Public/Show-ProgressPhase.ps1
  src/powershell/modules/Core/Progress/README.md
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
  tests/powershell/unit/ProgressReporter.Tests.ps1
Due: powershell

test(zip): collapse mock-only dispatch tests in Zip module test block
  src/powershell/modules/Core/Zip/CHANGELOG.md
  src/powershell/modules/Core/Zip/Zip.psd1
  tests/powershell/modules/Core/Zip/Zip.Tests.ps1
Due: powershell

fix(filesystem): handle Unix absolute paths in Get-FullPath
  src/powershell/modules/Core/FileSystem/CHANGELOG.md
  src/powershell/modules/Core/FileSystem/FileSystem.psd1
  src/powershell/modules/Core/FileSystem/Public/Get-FullPath.ps1
Due: powershell

test(zip-extraction): relocate parallel-extraction tests to ZipExtraction.Tests.ps1
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
  tests/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.Tests.ps1
Due: powershell

fix(test): add missing -ThrottleLimit 1 to wrapper delegation smoke test
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

fix(test): replace failing serial-extraction smoke with empty-source delegation check
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: none

fix(Move-ImageFileToBatch): route framework log to -LogDirectory (#1150)
  CHANGELOG.md
  src/powershell/media/Move-ImageFileToBatch.ps1
  src/powershell/media/README.md
  tests/powershell/unit/Move-ImageFileToBatch.Tests.ps1
Due: powershell

fix(show-randomimage): log permission-denied file path before open
  CHANGELOG.md
  src/powershell/media/README.md
  src/powershell/media/Show-RandomImage.ps1
Due: powershell

Add -VlcExe parameter to allow specifying VLC path when not on PATH
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Validate.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
Due: powershell

refactor(gdrive_discovery): extract query/filter builders and optimize predicates
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_query_filters.py
  tests/python/unit/test_gdrive_query_filters.py
Due: python

fix(gdrive_discovery): preserve multi-segment extension suffix matching
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_query_filters.py
  tests/python/unit/test_gdrive_query_filters.py
Due: python

fix(changelog): remove duplicated gdrive 1.26.13 entries
  CHANGELOG.md
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_discovery.py
Due: python

fix(gdrive-discovery): continue streaming siblings after folder fetch error
  CHANGELOG.md
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_discovery.py
  tests/python/unit/test_gdrive_folder_discovery.py
Due: python

style(tests): format gdrive folder discovery regression test
  tests/python/unit/test_gdrive_folder_discovery.py
Due: none

Add --no-audio to VLC args to prevent libmmdevice_plugin crash
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
Due: powershell

refactor(expand-zipsandclean): extract workflow helpers into ZipWorkflow module
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
  src/powershell/modules/FileManagement/ZipWorkflow/Public/Initialize-Destination.ps1
  src/powershell/modules/FileManagement/ZipWorkflow/Public/Resolve-MoveTarget.ps1
  src/powershell/modules/FileManagement/ZipWorkflow/Public/Test-ScriptPreconditions.ps1
  src/powershell/modules/FileManagement/ZipWorkflow/ZipWorkflow.psm1
Due: powershell

fix(expand-zipsandclean): import ZipWorkflow in helper-load tests
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(zipworkflow): add logging fallback for helper-load contexts
  CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/ZipWorkflow/ZipWorkflow.psm1
Due: powershell

Replace hardcoded --no-audio with a -NoAudio switch parameter
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
Due: powershell

Fix -VlcExe accepting a directory path without resolving vlc.exe
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
Due: powershell

fix(videoscreenshot): add idle-frame stall detection to prevent ~5 min hang on undecodable videos
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Snapshot.Monitor.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Monitor.Tests.ps1
Due: powershell

test(videoscreenshot): replace PSCustomObject mock with real System.Diagnostics.Process
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Monitor.Tests.ps1
Due: none

test(videoscreenshot): drop -WindowStyle Hidden from process helpers (Linux incompatible)
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Monitor.Tests.ps1
Due: none

fix(test): correct repo-root path traversal in Snapshot.Monitor.Tests.ps1
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Monitor.Tests.ps1
Due: none

style(test): capitalise Script: scope prefix on helper function names
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Monitor.Tests.ps1
Due: none

Suppress profile module import warnings from lazy loader
  CHANGELOG.md
  README.md
  scripts/Profile-Helpers.ps1
Due: none

feat(videoscreenshot): replace flat 300s snapshot fallback with duration-aware per-video cap
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Fps.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Video.Duration.Tests.ps1
Due: powershell

fix(videoscreenshot): support localized Shell duration columns in Get-VideoDuration
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Fps.ps1
Due: powershell

test(videoscreenshot): fix two cross-platform issues in Video.Duration.Tests
  tests/powershell/modules/Media/Videoscreenshot/Video.Duration.Tests.ps1
Due: none

refactor(videoscreenshot): extract shared ffprobe/Shell helpers to eliminate duplication
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Fps.ps1
Due: powershell

refactor: extract Get-ShellMetadataValue to eliminate COM setup duplication; fix non-existent path test
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Fps.ps1
  tests/powershell/modules/Media/Videoscreenshot/Video.Duration.Tests.ps1
Due: powershell

fix(changelog): normalize Expand-ZipsAndClean changelog structure
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
Due: powershell

fix(changelog): restore missing Expand-ZipsAndClean 2.6.4 entry
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
Due: powershell

fix: log parse failure in Get-WindowsShellDuration numeric-seconds fallback
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Fps.ps1
Due: powershell

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
