Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

docs(hooks): document resolution of conventional commits duplication (#653)
  CHANGELOG.md
  analysis/git-hooks-issue-009-conventional-commits-duplication.md
Due: none

fix(FileDistributor): resolve silent exit issue and improve feedback
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): initialize logger after LogFilePath resolution
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): improve error visibility and reporting
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): correct FilesToDelete parameter type in functions
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): add image file filtering and graceful error handling
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): add extension-wise skipped file tracking and enhanced summary
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): remove duplicate progress text when using -ShowProgress
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): add console output for rebalancing feedback
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): add comprehensive statistics for rebalancing
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): remove FilesPerFolderLimit cap from rebalance upper bound
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): implement weighted random distribution algorithm (v4.1.0)
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): add configurable RebalanceTolerance parameter (v4.2.0)
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): add RandomizeDistribution for full file redistribution (v4.3.0)
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

enhance(FileDistributor): add comprehensive logging to RandomizeDistribution
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

enhance(FileDistributor): add comprehensive logging to RebalanceToAverage
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): make SourceFolder optional for rebalance-only mode (v4.4.0)
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

refactor(FileDistributor): auto-enable rebalance-only mode when SourceFolder omitted
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

feat(FileDistributor): add version logging on script startup
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): add console feedback for rebalancing operations (v4.4.1)
  CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

fix(FileDistributor): suppress source-related messages in rebalance-only mode
  CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
Due: powershell

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(ci): enhance SONAR_TOKEN validation with comprehensive diagnostics
  .github/workflows/sonarcloud.yml
Due: none

feat(backup): add scheduled backup job for lift_simulator PostgreSQL database
  CHANGELOG.md
  config/tasks/PostgreSQL lift_simulator Backup.xml.template
  src/powershell/backup/Backup-LiftSimulatorDatabase.ps1
  src/powershell/backup/README-LiftSimulator.md
Due: powershell

docs(backup): update lift_simulator backup docs for dual-schema structure
  src/powershell/backup/README-LiftSimulator.md
Due: powershell

fix(backup): migrate GnuCash and Timeline backups from encrypted password files to .pgpass authentication
  config/secrets/README.md
  src/powershell/backup/Backup-GnuCashDatabase.ps1
  src/powershell/backup/Backup-TimelineDatabase.ps1
Due: powershell

fix(backup): use standard pg_dump options for .pgpass authentication
  src/powershell/modules/Database/PostgresBackup/PostgresBackup.psd1
  src/powershell/modules/Database/PostgresBackup/Public/Backup-PostgresDatabase.ps1
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: powershell

fix(batch): resolve PowerShell variable conflict in RunDeleteOldDownloads.bat logging
  src/batch/RunDeleteOldDownloads.bat
Due: none

fix(batch): change logging delimiter from pipe to semicolon in RunDeleteOldDownloads.bat
  src/batch/RunDeleteOldDownloads.bat
Due: none

fix(batch): correct repository root path resolution in RunDeleteOldDownloads.bat
  src/batch/RunDeleteOldDownloads.bat
Due: none

fix(powershell): move CmdletBinding and param block before executable code in Remove-OldDownload.ps1
  src/powershell/system/Remove-OldDownload.ps1
Due: powershell

fix(batch): only show error popup for fatal failures (exit code 1) in RunDeleteOldDownloads.bat
  src/batch/RunDeleteOldDownloads.bat
Due: none

fix(post-merge): add retry mechanism for locked file copy operations
  src/powershell/git/Invoke-PostMergeHook.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: powershell

refactor(post-merge): use existing Copy-FileWithRetry module
  src/powershell/git/Invoke-PostMergeHook.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: powershell

fix(python): add sys.path setup for module imports in all scripts
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/drive_space_monitor.py
  src/python/cloud/google_drive_root_files_delete.py
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/seat_assignment.py
  src/python/media/find_duplicate_images.py
  src/python/media/recover_extensions.py
Due: python

feat(scheduler): add PowerShell wrapper for Drive Space Monitor task
  config/tasks/Drive Space Monitor.xml.template
  src/powershell/cloud/Invoke-DriveSpaceMonitor.ps1
Due: powershell

fix(scheduler): prioritize repo-root venv before system Python
  src/powershell/cloud/Invoke-DriveSpaceMonitor.ps1
Due: powershell

fix(scheduler): rename Debug parameter to avoid CmdletBinding conflict
  src/powershell/cloud/Invoke-DriveSpaceMonitor.ps1
Due: powershell

fix(logging): use __file__ instead of __name__ for logger initialization
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/drive_space_monitor.py
  src/python/cloud/google_drive_root_files_delete.py
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/seat_assignment.py
  src/python/media/find_duplicate_images.py
  src/python/media/recover_extensions.py
Due: python

fix(logging): pass basename instead of full path to logger
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/drive_space_monitor.py
  src/python/cloud/google_drive_root_files_delete.py
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/seat_assignment.py
  src/python/media/find_duplicate_images.py
  src/python/media/recover_extensions.py
Due: python

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
