Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

style(logging): apply black formatting
  src/python/modules/logging/python_logging_framework.py
Due: python

fix(logging): preserve preconfigured root loggers
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/modules/logging/python_logging_framework.py
  tests/python/unit/test_logging_framework.py
Due: python

refactor(gdrive_cli): consolidate console output through ConsoleHelper helpers
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_gdrive_cli_console_helper.py
  tests/python/unit/test_gdrive_cli_folder_id.py
  tests/python/unit/test_gdrive_cli_lock_management.py
Due: python

refactor(gdrive_cli): route policy logs through shared framework
  CHANGELOG.md
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_gdrive_cli_console_helper.py
Due: python

fix(videoscreenshot): avoid VLC pipe-buffer deadlock
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/New-RunContext.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Vlc.Process.Tests.ps1
Due: powershell

test(videoscreenshot): use native fake VLC process
  tests/powershell/modules/Media/Videoscreenshot/Vlc.Process.Tests.ps1
Due: none

test(videoscreenshot): provide fake VLC argument
  tests/powershell/modules/Media/Videoscreenshot/Vlc.Process.Tests.ps1
Due: none

fix(videoscreenshot): avoid automatic args variable
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  tests/powershell/modules/Media/Videoscreenshot/Vlc.Process.Tests.ps1
Due: powershell

fix(videoscreenshot): retry failed resume log entries
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Processed.Log.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Processed.Log.Tests.ps1
  tests/powershell/modules/Media/Videoscreenshot/Start-VideoBatch.ProcessedLog.Tests.ps1
Due: powershell

fix(videoscreenshot): preserve empty resume indexes
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Processed.Log.ps1
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Processed.Log.Tests.ps1
Due: powershell

refactor(videoscreenshot): simplify resume index parsing
  src/powershell/modules/Media/Videoscreenshot/Private/Processed.Log.ps1
Due: powershell

fix(videoscreenshot): tolerate VLC snapshot caps
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Snapshot.Monitor.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Monitor.Tests.ps1
  tests/powershell/modules/Media/Videoscreenshot/Start-VideoBatch.Preflight.Tests.ps1
  tests/powershell/modules/Media/Videoscreenshot/Start-VideoBatch.ProcessedLog.Tests.ps1
Due: powershell

fix(videoscreenshot): avoid no-op VLC dummy stop
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Vlc.Process.Tests.ps1
Due: powershell

fix(videoscreenshot): preserve VLC stop fallbacks
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Vlc.Process.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  tests/powershell/modules/Media/Videoscreenshot/Vlc.Process.Tests.ps1
Due: powershell

feat(gdrive): share filename path helpers
  CHANGELOG.md
  README.md
  VERSION
  pyproject.toml
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_recover.py
  src/python/modules/utils/README.md
  src/python/modules/utils/__init__.py
  src/python/modules/utils/file_operations.py
  tests/python/unit/test_file_operations.py
Due: python

docs(gdrive): compress and collapse pre-1.19 historical entries
  src/python/cloud/CHANGELOG-gdrive-recover.md
Due: python

fix(videoscreenshot): eliminate VLC pipe-buffer deadlock in Test-VideoPlayable
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Video.Validate.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Video.Validate.Tests.ps1
Due: powershell

fix(videoscreenshot): use single-quoted string for chatty-VLC test Unix body
  tests/powershell/modules/Media/Videoscreenshot/Video.Validate.Tests.ps1
Due: none

fix(videoscreenshot): make version resolution manifest-authoritative (#1214)
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/New-RunContext.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/New-RunContext.Tests.ps1
Due: powershell

fix(videoscreenshot): use GetTempPath() instead of \$env:TEMP in tests
  tests/powershell/modules/Media/Videoscreenshot/New-RunContext.Tests.ps1
Due: none

refactor(gdrive): promote private state-lock and file-id-validation API to public (#1136)
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_discovery.py
  src/python/cloud/gdrive_state.py
  tests/python/unit/test_cloud_gdrive_state.py
  tests/python/unit/test_gdrive_cli_lock_management.py
  tests/python/unit/test_gdrive_discovery_retry_classification.py
  tests/python/unit/test_gdrive_recover.py
Due: python

refactor(gdrive): extract lock-management helpers into gdrive_locking module (#1137)
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  src/python/cloud/gdrive_locking.py
  tests/python/unit/test_gdrive_cli_lock_management.py
  tests/python/unit/test_gdrive_locking.py
Due: python

refactor(gdrive_cli): collapse main() validators into data-driven loops
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
Due: python

refactor(gdrive_cli): simplify download-dir validation
  src/python/cloud/CHANGELOG-gdrive-recover.md
  src/python/cloud/README.md
  src/python/cloud/gdrive_cli.py
  src/python/cloud/gdrive_constants.py
  tests/python/unit/test_gdrive_cli_folder_id.py
Due: python

test(powershell): deduplicate expand-zips setup
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.TestHelpers.ps1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(powershell): load expand-zips test helpers at runtime
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/README.md
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(videoscreenshot): invoke cropper package via module
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Cropper.Invoke.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  src/python/media/CHANGELOG.md
  src/python/media/README.md
  src/python/media/__init__.py
  src/python/media/crop_colours.py
  tests/powershell/modules/Media/Videoscreenshot/Cropper.Invoke.Tests.ps1
  tests/python/unit/test_crop_colours_direct_execution.py
Due: python, powershell

fix(videoscreenshot): pin cropper module cwd
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Cropper.Invoke.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Cropper.Invoke.Tests.ps1
Due: powershell

test(videoscreenshot): fix cropper fake python harness
  tests/powershell/modules/Media/Videoscreenshot/Cropper.Invoke.Tests.ps1
Due: none

feat(videoscreenshot): add -DeduplicateFrames content-hash de-dup of snapshot frames
  src/powershell/modules/Media/Videoscreenshot/CHANGELOG.md
  src/powershell/modules/Media/Videoscreenshot/Private/Config.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Snapshot.Dedup.ps1
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psd1
  tests/powershell/modules/Media/Videoscreenshot/Snapshot.Dedup.Tests.ps1
Due: powershell

fix(videoscreenshot): avoid NoFrames false-negative when de-dup runs on an overwrite
  src/powershell/modules/Media/Videoscreenshot/Public/Start-VideoBatch.ps1
Due: powershell

fix(FileDistributor): add -Global to Import-Module in Import-RandomNameProvider
  src/powershell/modules/Core/FileOperations/Public/Import-RandomNameProvider.ps1
Due: powershell

fix(file-distributor): declare retry module dependencies
  src/powershell/file-management/FileDistributor.CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psm1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell

test(file-distributor): fix dependency import assertion
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: none

fix(file-distributor): print completion summary to console
  src/powershell/file-management/FileDistributor.CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/FileDistributor.psd1
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-PostRunCleanup.ps1
  tests/powershell/file-management/FileDistributor.Initialization.Tests.ps1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell

fix(file-distributor): use pipeline output for completion summary
  src/powershell/file-management/FileDistributor.CHANGELOG.md
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/FileManagement/FileDistributor/Public/Invoke-PostRunCleanup.ps1
  tests/powershell/file-management/FileDistributor.Initialization.Tests.ps1
  tests/powershell/unit/FileDistributor.Tests.ps1
Due: powershell

feat(Expand-ZipsAndClean): add -DeleteSourceZips switch (closes #1187)
  src/powershell/file-management/Expand-ZipsAndClean.CHANGELOG.md
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/file-management/README.md
  src/powershell/modules/Core/Progress/Public/Write-ExtractionSummary.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Private/Expand-ZipInRunspace.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Private/Orchestration.Helpers.ps1
  src/powershell/modules/FileManagement/ZipExtraction/Public/Invoke-SerialZipExtractions.ps1
  src/powershell/modules/FileManagement/ZipExtraction/ZipExtraction.psm1
  tests/powershell/file-management/Expand-ZipsAndClean.Tests.ps1
Due: powershell

fix(Expand-ZipsAndClean): make zip deletion errors terminating
  src/powershell/file-management/Expand-ZipsAndClean.ps1
Due: powershell

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
