Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

fix(scheduler): correct Postgres Log Cleanup task script path
  config/tasks/Postgres Log Cleanup.xml
  config/tasks/Postgres Log Cleanup.xml.template
Due: none

fix(logging): configure Clear-PostgreSqlLog to log to Scripts root logs directory
  src/powershell/system/Clear-PostgreSqlLog.ps1
Due: powershell

fix(logging): improve path calculation and add verbose logging output
  src/powershell/system/Clear-PostgreSqlLog.ps1
Due: powershell

fix(scheduler): correct Sync Macrium Backups task script path
  config/tasks/Sync Macrium Backups.xml
Due: none

fix(logging): configure Sync-MacriumBackups to log to centralized directory
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

fix(logging): eliminate PowerShell stderr errors from rclone output
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): add persistent state tracking to Sync-MacriumBackups
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): add single-instance locking to Sync-MacriumBackups
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

fix(backup): handle abandoned mutex from crashed instances
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): add auto-resume behavior to Sync-MacriumBackups
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): add Windows Task Scheduler registration script for Sync-MacriumBackups
  src/powershell/backup/README.md
  src/powershell/backup/Register-SyncMacriumBackupsTask.ps1
Due: powershell

fix(backup): handle SYSTEM account logon type correctly in task registration
  src/powershell/backup/Register-SyncMacriumBackupsTask.ps1
Due: powershell

feat(backup): add TaskPath parameter for custom Task Scheduler folder organization
  src/powershell/backup/README.md
  src/powershell/backup/Register-SyncMacriumBackupsTask.ps1
Due: powershell

fix(backup): create nested task folders segment-by-segment
  src/powershell/backup/README.md
  src/powershell/backup/Register-SyncMacriumBackupsTask.ps1
Due: powershell

feat(backup): improve reboot/interruption detection and logging
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): add post-run verification and state consistency checks
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): harden SSID detection and Wi-Fi interface validation
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

fix(backup): allow Wi-Fi reconnection when adapter is present but disconnected
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

fix(backup): quote SSID values in netsh wlan connect commands
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

feat(backup): improve parameter validation and organization in Sync-MacriumBackups
  src/powershell/backup/PARAMETER_IMPROVEMENTS_SUMMARY.md
  src/powershell/backup/PARAMETER_VALIDATION_TESTS.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

fix(backup): expand SSID validation to support legitimate WiFi names with punctuation
  src/powershell/backup/PARAMETER_IMPROVEMENTS_SUMMARY.md
  src/powershell/backup/PARAMETER_VALIDATION_TESTS.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

Enhance Sync-MacriumBackups logging
  CHANGELOG.md
  src/powershell/backup/README.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

refactor: eliminate duplicate interrupted state handling and add script versioning
  TEST_SCENARIOS_v2.6.0.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

Fix Sync-MacriumBackups 4096 chunk size
  CHANGELOG.md
  src/powershell/backup/README.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

Fix Remove-MergedGitBranch dry-run logging
  CHANGELOG.md
  VERSION
  src/powershell/git/README.md
  src/powershell/git/Remove-MergedGitBranch.ps1
Due: powershell

Fix Sync-MacriumBackups rclone command logging
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

Improve Sync-MacriumBackups command logging
  CHANGELOG.md
  src/powershell/backup/README.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

Align Sync-MacriumBackups log format
  CHANGELOG.md
  src/powershell/backup/README.md
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

Fix AutoResume error: Add missing reason property to state object
  src/powershell/backup/Sync-MacriumBackups.ps1
Due: powershell

style: standardize spacing and formatting across multiple scripts
  scripts/Validate-SonarCloudConfig.ps1
  src/powershell/backup/Sync-MacriumBackups.ps1
  src/powershell/file-management/FileDistributor.ps1
  src/powershell/modules/Database/PostgresBackup/Public/Backup-PostgresDatabase.ps1
  src/powershell/modules/FileManagement/FileQueue/Private/Initialize-QueueState.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Add-FileToQueue.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/New-FileQueue.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Restore-QueueState.ps1
  src/powershell/modules/FileManagement/FileQueue/Public/Save-QueueState.ps1
  src/powershell/modules/FileManagement/FileQueue/Tests/FileQueue.Tests.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/Gdi.Capture.ps1
  src/powershell/modules/Media/Videoscreenshot/Private/IO.Helpers.ps1
Due: powershell

style: fix Black formatting for multiline strings in function calls
  src/python/data/extract_timeline_locations.py
  tests/python/unit/test_csv_to_gpx.py
Due: python

ci: use Black/SQLFluff versions from requirements.txt
  .github/workflows/code-formatting.yml
Due: none

ci: ignore CVE-2026-0994 in pip-audit (no fix available)
  .github/workflows/security-scan.yml
Due: none

style: revert to expanded multiline string format for Black compatibility
  src/python/data/extract_timeline_locations.py
  tests/python/unit/test_csv_to_gpx.py
Due: python

fix: suppress bandit false positive for status symbol dictionary
  src/python/cloud/gdrive_recover.py
Due: python

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add Copy-FilesByExtension script to copy and delete files by extension
  .env.example
  src/batch/RunCopyFilesByExtension.bat
  src/powershell/file-management/Copy-FilesByExtension.ps1
Due: powershell

Fix extension list normalization for comma-separated CLI input (v1.1.0)
  src/powershell/file-management/Copy-FilesByExtension.ps1
Due: powershell

Fix three review issues in Copy-FilesByExtension (v1.2.0)
  src/powershell/file-management/Copy-FilesByExtension.ps1
Due: powershell

Bump black to >=26.3.1 to resolve security vulnerabilities
  .pre-commit-config.yaml
  requirements.lock
  requirements.txt
Due: none
