Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

Add PostgreSQL backup/restore integration test
  CHANGELOG.md
  README.md
  tests/README.md
  tests/integration/Test-BackupRestore.Tests.ps1
Due: none

test: add git hook integration coverage
  CHANGELOG.md
  README.md
  hooks/post-commit
  hooks/post-merge
  tests/integration/GitHooks.Integration.Tests.ps1
Due: none

Add dependency caching across CI workflows
  .github/workflows/code-formatting.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/security-scan.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/validate-modules.yml
  CHANGELOG.md
  README.md
  VERSION
Due: none

build: add SonarCloud token to scanner configuration
  .github/workflows/sonarcloud.yml
Due: none

chore: configure git lfs for large assets
  .gitattributes
  CONTRIBUTING.md
  src/sql/gnucash/gnucash_hide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_unhide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_zero_balance_accts_view.sql
  src/sql/timeline/create_database.sql
  src/sql/timeline/create_postgis_extension.sql
  src/sql/timeline/schema_timeline.sql
  src/sql/timeline/table_control.sql
  src/sql/timeline/table_locations.sql
  src/sql/timeline/user_backup.sql
  src/sql/timeline/user_timeline_writer.sql
Due: none

feat(hooks): implement Git LFS support across all Git hooks
  .gitattributes
  CONTRIBUTING.md
  INSTALLATION.md
  docs/guides/git-hooks.md
  hooks/post-checkout
  hooks/post-commit
  hooks/post-merge
  hooks/pre-commit
  hooks/pre-push
Due: none

chore: convert existing SQL files to LFS pointers
  src/sql/gnucash/gnucash_hide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_unhide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_zero_balance_accts_view.sql
  src/sql/timeline/create_database.sql
  src/sql/timeline/create_postgis_extension.sql
  src/sql/timeline/schema_timeline.sql
  src/sql/timeline/table_control.sql
  src/sql/timeline/table_locations.sql
  src/sql/timeline/user_backup.sql
  src/sql/timeline/user_timeline_writer.sql
Due: none

Add comprehensive usage examples to module READMEs
  src/powershell/modules/Core/FileOperations/README.md
  src/powershell/modules/Core/Progress/README.md
  src/powershell/modules/Media/Videoscreenshot/README.md
  src/powershell/modules/Utilities/RandomName/README.md
Due: powershell

perf: cache PowerShell logging default path
  .gitignore
  CHANGELOG.md
  README.md
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework.psm1
  src/python/modules/logging/python_logging_framework.egg-info/PKG-INFO
  src/python/modules/logging/python_logging_framework.egg-info/SOURCES.txt
  src/python/modules/logging/python_logging_framework.egg-info/dependency_links.txt
  src/python/modules/logging/python_logging_framework.egg-info/top_level.txt
Due: python, powershell

chore(repo): <description> Delete obsolete issue files for testing, documentation, and code quality improvements; streamline repository structure and enhance CI/CD processes.
  analysis/ANALYSIS_REPORT.md
  analysis/README.md
  analysis/issues/001-fix-hardcoded-credentials-paths.md
  analysis/issues/002-add-tests-for-postgresbackup-module.md
  analysis/issues/003-add-tests-for-git-hooks.md
  analysis/issues/004-add-tests-for-purgelogs-module.md
  analysis/issues/005-create-environment-variable-system.md
  analysis/issues/006-fix-logger-initialization.md
  analysis/issues/007-create-task-scheduler-templates.md
  analysis/issues/008-fix-hardcoded-paths-in-scripts.md
  analysis/issues/009-fix-hardcoded-paths-in-documentation.md
  analysis/issues/010-add-tests-for-file-operations-module.md
  analysis/issues/011-add-tests-for-error-handling-module.md
  analysis/issues/012-create-configuration-documentation.md
  analysis/issues/013-standardize-version-handling.md
  analysis/issues/014-pin-and-test-dependencies.md
  analysis/issues/015-add-dependency-security-scanning.md
  analysis/issues/016-fix-continue-on-error-in-ci.md
  analysis/issues/017-standardize-module-structure.md
  analysis/issues/018-replace-writehost-in-modules.md
  analysis/issues/019-replace-writehost-in-backup-scripts.md
  analysis/issues/020-replace-writehost-in-system-scripts.md
  analysis/issues/021-add-backup-restore-integration-tests.md
  analysis/issues/022-add-git-hooks-integration-tests.md
  analysis/issues/023-add-ci-caching.md
  analysis/issues/024-setup-git-lfs.md
  analysis/issues/025-add-module-usage-examples.md
  analysis/issues/026-repository-cleanup-tasks.md
  analysis/issues/README.md
Due: none

docs(analysis): add comprehensive repository issue analysis
  analysis/issues/001-empty-catch-blocks.md
  analysis/issues/002-write-host-usage.md
  analysis/issues/003-low-test-coverage.md
  analysis/issues/004-missing-http-timeouts.md
  analysis/issues/005-missing-python-type-hints.md
  analysis/issues/006-invoke-expression-security-risk.md
  analysis/issues/007-dependency-version-pinning.md
  analysis/issues/008-large-complex-scripts.md
  analysis/issues/009-module-deployment-complexity.md
  analysis/issues/010-environment-variable-management.md
  analysis/issues/README.md
Due: none

docs(analysis): split large issues into 1-8 hour sub-issues
  analysis/issues/003a-add-smoke-tests.md
  analysis/issues/003b-test-database-backups.md
  analysis/issues/003c-test-data-processing.md
  analysis/issues/003d-test-cloud-operations.md
  analysis/issues/003e-test-shared-python-modules.md
  analysis/issues/003f-test-powershell-shared-modules.md
  analysis/issues/004a-add-timeouts-cloudconvert.md
  analysis/issues/004b-update-timeout-documentation.md
  analysis/issues/004c-enable-bandit-timeout-check.md
  analysis/issues/005a-add-type-hints-infrastructure.md
  analysis/issues/005b-type-hints-logging-modules.md
  analysis/issues/005c-type-hints-error-handling.md
  analysis/issues/005d-type-hints-data-scripts.md
  analysis/issues/008a-extract-filesystem-module.md
  analysis/issues/008b-refactor-filedistributor-phase1.md
  analysis/issues/009a-consolidate-deployment-config.md
  analysis/issues/010a-document-environment-variables.md
  analysis/issues/README.md
Due: none

Add HTTP timeouts for CloudConvert operations
  docs/architecture/external-integrations.md
  src/python/cloud/cloudconvert_utils.py
  tests/python/unit/test_cloudconvert_timeouts.py
Due: python

fix(powershell): avoid invoke-expression in installer checks
  .github/workflows/sonarcloud.yml
  .vscode/settings.json
  CONTRIBUTING.md
  config/PSScriptAnalyzerSettings.psd1
  scripts/Verify-Installation.ps1
Due: none

Add smoke tests for main scripts
  CHANGELOG.md
  README.md
  requirements.lock
  requirements.txt
  tests/README.md
  tests/powershell/unit/SmokeTests.Tests.ps1
  tests/python/conftest.py
  tests/python/unit/test_smoke.py
Due: none

feat: re-enable Bandit B113 timeout check and add compliance tests
  CHANGELOG.md
  pyproject.toml
  src/python/modules/utils/README.md
  tests/python/unit/test_security_compliance.py
Due: python

docs: update README to reflect Bandit B113 timeout check re-enablement
  src/python/modules/utils/README.md
Due: python

test: add comprehensive PostgreSQL backup test coverage (#003)
  CHANGELOG.md
  src/powershell/modules/Database/PostgresBackup/README.md
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: powershell

Add tests for CSV, validator, and timeline data processing
  CHANGELOG.md
  README.md
  VERSION
  src/python/data/validators.py
  tests/python/unit/test_csv_to_gpx.py
  tests/python/unit/test_extract_timeline_locations.py
  tests/python/unit/test_validators.py
Due: python

Add mocked Google Drive delete and recover tests
  CHANGELOG.md
  README.md
  src/python/cloud/gdrive_recover.py
  src/python/cloud/google_drive_root_files_delete.py
  tests/python/conftest.py
  tests/python/unit/test_gdrive_recover.py
  tests/python/unit/test_google_drive_delete.py
Due: python

feat: Setup mypy type hints infrastructure (#594)
  .github/workflows/sonarcloud.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  mypy.ini
  requirements.txt
Due: none

feat: Add comprehensive type hints to error handling module (#596)
  CHANGELOG.md
  VERSION
  src/python/modules/utils/error_handling.py
  tests/python/unit/test_error_handling.py
Due: python

Add type hints to data processing scripts
  CHANGELOG.md
  README.md
  VERSION
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/validators.py
Due: python

feat: Extract common FileSystem module (#601)
  CHANGELOG.md
  README.md
  VERSION
  src/powershell/file-management/Expand-ZipsAndClean.ps1
  src/powershell/modules/Core/FileSystem/FileSystem.psd1
  src/powershell/modules/Core/FileSystem/FileSystem.psm1
  src/powershell/modules/Core/FileSystem/Private/Get-FileLockInfo.ps1
  src/powershell/modules/Core/FileSystem/Public/New-DirectoryIfMissing.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileAccessible.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileLocked.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-PathValid.ps1
  src/powershell/system/Remove-DuplicateFiles.ps1
  src/powershell/system/Remove-EmptyFolders.ps1
  tests/powershell/unit/FileSystem.Tests.ps1
Due: powershell

feat: Consolidate module deployment configuration to TOML format (#604)
  .gitignore
  CHANGELOG.md
  README.md
  VERSION
  psmodule.local.toml.example
  psmodule.toml
  scripts/Migrate-ModuleConfig.ps1
  scripts/Read-ModuleConfig.ps1
Due: none

fix: Update module definitions and dependencies in psmodule.toml
  psmodule.toml
Due: none

docs: create comprehensive environment variable documentation (#606)
  .gitignore
  CHANGELOG.md
  README.md
  VERSION
  docs/ENVIRONMENT.md
Due: none

docs: investigate and document CI checks issue (#632)
  CHANGELOG.md
  CI_INVESTIGATION_REPORT.md
Due: none

fix: correct YAML syntax errors in GitHub Actions workflows (#632)
  .github/workflows/code-formatting.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/security-scan.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/validate-modules.yml
Due: none

docs: update investigation report with actual root cause
  CI_INVESTIGATION_REPORT.md
Due: none

test: verify pre-commit hooks work after fixes
  .pylintrc
  README.md
  hooks/pre-commit
  scripts/Migrate-ModuleConfig.ps1
  scripts/Read-ModuleConfig.ps1
  src/powershell/automation/Test-PostgreSqlConnection.ps1
  src/powershell/backup/Backup-GnuCashDatabase.ps1
  src/powershell/backup/Backup-TimelineDatabase.ps1
  src/powershell/modules/Core/ErrorHandling/ErrorHandling.psm1
  src/powershell/modules/Core/FileOperations/FileOperations.psm1
  src/powershell/modules/Core/FileSystem/FileSystem.psm1
  src/powershell/modules/Core/FileSystem/Private/Get-FileLockInfo.ps1
  src/powershell/modules/Core/FileSystem/Public/New-DirectoryIfMissing.ps1
  src/powershell/modules/Core/FileSystem/Public/Test-FileAccessible.ps1
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework/PowerShellLoggingFramework.psm1
  src/powershell/modules/Core/Logging/PurgeLogs/Private/Logging.ps1
  src/powershell/modules/Core/Logging/PurgeLogs/PurgeLogs.psm1
  src/powershell/modules/Core/Progress/ProgressReporter.psm1
  src/powershell/modules/Database/PostgresBackup/PostgresBackup.psm1
  src/powershell/modules/Media/Videoscreenshot/Videoscreenshot.psm1
  src/powershell/modules/Utilities/RandomName/RandomName.psm1
  src/powershell/system/Invoke-SystemHealthCheck.ps1
  src/powershell/system/Remove-DuplicateFiles.ps1
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/gdrive_recover.py
  src/python/data/extract_timeline_locations.py
  tests/powershell/unit/PostgresBackup.Tests.ps1
  tests/python/conftest.py
  tests/python/unit/test_cloudconvert_timeouts.py
  tests/python/unit/test_error_handling.py
  tests/python/unit/test_extract_timeline_locations.py
  tests/python/unit/test_logging_framework.py
  tests/python/unit/test_security_compliance.py
Due: python, powershell

style: format all code with automated formatters
  tests/python/conftest.py
Due: none

style: standardize quotes and improve PowerShell manifest validation logic
  .github/workflows/validate-modules.yml
Due: none

style: fix trailing whitespace in test files and documentation
  docs/guides/http-requests.md
  tests/powershell/unit/PowerShellLoggingFramework.Tests.ps1
Due: none

test: verify pre-commit works without PowerShell linting
  README.md
Due: none

fix(hooks): disable PowerShell linting in pre-commit hook to avoid temp file issues
  hooks/pre-commit
Due: none

fix(pre-commit): add target directories to mypy configuration
  .pre-commit-config.yaml
Due: none

refactor(settings): remove SonarLint project configuration
  .vscode/settings.json
Due: none

fix(mypy): improve type checking configuration and make it informational
  .pre-commit-config.yaml
  mypy.ini
Due: none

Path conditions:
  python: any of: src/python/, src/common/*.py, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
  powershell: any of: src/powershell/, src/common/*.ps1, src/common/*.psm1, but not: tests/, **/*.sample, fixtures/, **/test_*.py, **/*.Tests.ps1, **/__pycache__/**, **/.pytest_cache/**, **/logs/**, config/, docs/, analysis/, hooks/, scripts/
