Repository manoj-bhaskaran/My-Scripts: changes, and which Codecov flags are due for each by the changed paths.
All: python, powershell

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

# Coverage status checks
coverage:
  status:
    # Overall project coverage
    project:
      default:
        target: 30%          # Minimum target coverage
        threshold: 5%        # Allow 5% drop before failing
        informational: false # Fail build if threshold violated

    # Coverage on changed code (patches)
    patch:
      default:
        target: 50%          # New code should have higher coverage
        threshold: 10%       # More lenient for new code
        informational: true  # Don't fail build for patch coverage

  # Precision and rounding
  precision: 2
  round: down
  range: "50...80"  # Yellow between 50-80%, green above 80%

# Files/directories to ignore in coverage calculation
ignore:
  - "tests/"
  - "**/*.sample"
  - "fixtures/"
  - "**/test_*.py"
  - "**/*.Tests.ps1"
  - "**/__pycache__/**"
  - "**/.pytest_cache/**"
  - "**/logs/**"
  - "config/"
  - "docs/"
  - "analysis/"
  - "hooks/"
  - "scripts/"

# Flag-based coverage tracking
flags:
  python:
    paths:
      - src/python/
      - src/common/*.py
    carryforward: true  # Keep previous coverage if no new data

  powershell:
    paths:
      - src/powershell/
      - src/common/*.ps1
      - src/common/*.psm1
    carryforward: true

# Comment settings for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false  # Always comment, even if no coverage change
  require_base: false     # Comment even if base branch has no coverage
  require_head: true      # Only comment if head branch has coverage

# GitHub Checks integration
github_checks:
  annotations: true  # Add annotations to changed files

fix(testing): adjust coverage thresholds to realistic baseline values
  .github/workflows/sonarcloud.yml
  CHANGELOG.md
  README.md
  codecov.yml
  docs/COVERAGE_ROADMAP.md
  docs/guides/testing.md
  pytest.ini
  tests/README.md
Due: none

docs: add comprehensive documentation for missing modules (#460)
  README.md
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework/CHANGELOG.md
  src/powershell/modules/Core/Logging/PowerShellLoggingFramework/README.md
  src/powershell/modules/Core/Logging/PurgeLogs/CHANGELOG.md
  src/powershell/modules/Core/Logging/PurgeLogs/README.md
  src/powershell/modules/Database/PostgresBackup/CHANGELOG.md
  src/powershell/modules/Database/PostgresBackup/README.md
  src/powershell/modules/Utilities/RandomName/CHANGELOG.md
  src/powershell/modules/Utilities/RandomName/README.md
  src/python/modules/logging/CHANGELOG.md
  src/python/modules/logging/README.md
Due: python, powershell

feat: extract shared utilities for error handling, file operations, and progress reporting (#461)
  CHANGELOG.md
  config/modules/deployment.txt
  docs/guides/using-shared-utilities.md
  scripts/Deploy-Modules.ps1
  src/powershell/modules/Core/ErrorHandling/ErrorHandling.psd1
  src/powershell/modules/Core/ErrorHandling/ErrorHandling.psm1
  src/powershell/modules/Core/ErrorHandling/README.md
  src/powershell/modules/Core/FileOperations/FileOperations.psd1
  src/powershell/modules/Core/FileOperations/FileOperations.psm1
  src/powershell/modules/Core/FileOperations/README.md
  src/powershell/modules/Core/Progress/ProgressReporter.psd1
  src/powershell/modules/Core/Progress/ProgressReporter.psm1
  src/powershell/modules/Core/Progress/README.md
  src/python/modules/utils/README.md
  src/python/modules/utils/__init__.py
  src/python/modules/utils/error_handling.py
  src/python/modules/utils/file_operations.py
  tests/powershell/unit/ErrorHandling.Tests.ps1
  tests/powershell/unit/FileOperations.Tests.ps1
  tests/powershell/unit/ProgressReporter.Tests.ps1
  tests/python/unit/test_error_handling.py
  tests/python/unit/test_file_operations.py
Due: python, powershell

fix: correct ErrorContext test and clarify retry limitations
  src/python/modules/utils/error_handling.py
  tests/python/unit/test_error_handling.py
Due: python

fix: update ErrorContext test to avoid non-functional retry logic
  tests/python/unit/test_error_handling.py
Due: none

fix: correct ErrorHandling module logging behavior and test mocking
  src/powershell/modules/Core/ErrorHandling/ErrorHandling.psm1
  tests/powershell/unit/ErrorHandling.Tests.ps1
Due: powershell

fix: ensure destination directories exist in Copy/Move-FileWithRetry
  src/powershell/modules/Core/FileOperations/FileOperations.psm1
Due: powershell

docs(architecture): add comprehensive architecture documentation
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  docs/architecture/data-flows.md
  docs/architecture/database-schemas.md
  docs/architecture/external-integrations.md
  docs/architecture/module-dependencies.md
Due: none

feat(hooks): implement pre-commit framework for multi-language linting
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/sonarcloud.yml
  .pre-commit-config.yaml
  .pylintrc
  .sqlfluffrc
  CHANGELOG.md
  INSTALLATION.md
  docs/guides/git-hooks.md
  pyproject.toml
  requirements.txt
  scripts/install-hooks.sh
Due: none

feat(formatting): implement comprehensive code formatting automation (#464)
  .editorconfig
  .git-blame-ignore-revs
  .github/workflows/code-formatting.yml
  .pre-commit-config.yaml
  .sqlfluffrc
  .vscode/settings.json
  CHANGELOG.md
  README.md
  docs/guides/code-style.md
  pyproject.toml
  requirements.txt
  scripts/Format-PowerShellCode.ps1
  scripts/format-all.sh
Due: none

style: format all code with automated formatters
  scripts/format-all.sh
  src/python/cloud/cloudconvert_utils.py
  src/python/cloud/drive_space_monitor.py
  src/python/cloud/gdrive_recover.py
  src/python/cloud/google_drive_root_files_delete.py
  src/python/data/csv_to_gpx.py
  src/python/data/extract_timeline_locations.py
  src/python/data/seat_assignment.py
  src/python/data/validators.py
  src/python/media/crop_colours.py
  src/python/media/find_duplicate_images.py
  src/python/media/recover_extensions.py
  src/python/modules/auth/elevation.py
  src/python/modules/auth/google_drive_auth.py
  src/python/modules/logging/python_logging_framework.py
  src/python/modules/utils/error_handling.py
  src/python/modules/utils/file_operations.py
  src/sql/gnucash/gnucash_hide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_unhide_zero_balance_accts.sql
  src/sql/timeline/create_database.sql
  src/sql/timeline/create_postgis_extension.sql
  src/sql/timeline/schema_timeline.sql
  src/sql/timeline/table_locations.sql
  src/sql/timeline/user_backup.sql
  tests/python/conftest.py
  tests/python/unit/test_csv_to_gpx.py
  tests/python/unit/test_error_handling.py
  tests/python/unit/test_file_operations.py
Due: python

chore: add formatting commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

fix(ci): improve code formatting workflow
  .github/workflows/code-formatting.yml
Due: none

fix(ci): make SQL formatting checks more lenient for unfixable violations
  .github/workflows/code-formatting.yml
  .sqlfluffrc
Due: none

refactor: eliminate code duplication in SQL and Python files
  src/python/data/validators.py
  src/sql/gnucash/gnucash_hide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_unhide_zero_balance_accts.sql
  src/sql/gnucash/gnucash_zero_balance_accts_view.sql
Due: python

refactor: reduce complexity and modernize type hints
  src/python/data/extract_timeline_locations.py
  src/python/modules/utils/file_operations.py
Due: python

refactor: streamline function signatures for improved readability
  src/python/data/validators.py
  src/python/modules/utils/file_operations.py
Due: python

feat: implement automated release workflow (#465)
  .github/RELEASE_CHECKLIST.md
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/guides/versioning.md
  scripts/bump-version.sh
Due: none

feat: add directory synchronization script with preview functionality
  scripts/Sync-Directory.ps1
Due: none

feat(scripts): add exclusion support to Sync-Directory.ps1
  CHANGELOG.md
  scripts/Sync-Directory.ps1
Due: none

refactor(scripts): reduce output noise in Sync-Directory.ps1
  scripts/Sync-Directory.ps1
Due: none

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/pre-commit-autoupdate.yml
Due: none

fix(scripts): improve deletion confirmation in Sync-Directory.ps1
  scripts/Sync-Directory.ps1
Due: none

feat(scripts): add empty directory cleanup to Sync-Directory.ps1
  CHANGELOG.md
  scripts/Sync-Directory.ps1
Due: none

feat(git-hooks): add local deployment configuration framework
  .gitignore
  config/DEPLOYMENT-SETUP.md
  config/local-deployment-config.json.example
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

fix(git-hooks): move log file to logs subdirectory
  config/DEPLOYMENT-SETUP.md
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

fix(Invoke-PostCommitHook): adjust import statement placement after CmdletBinding
  src/powershell/git/Invoke-PostCommitHook.ps1
Due: powershell

docs(analysis): comprehensive repository review and issue identification
  analysis/REPOSITORY_ISSUES.md
  analysis/my-scripts-claude-review.md
  analysis/my-scripts-issues/001-implement-test-infrastructure.md
  analysis/my-scripts-issues/002-create-root-changelog-and-versioning.md
  analysis/my-scripts-issues/003-standardize-naming-conventions.md
  analysis/my-scripts-issues/004-activate-git-hooks.md
  analysis/my-scripts-issues/005-complete-module-deployment-config.md
  analysis/my-scripts-issues/006-reorganize-folder-structure.md
  analysis/my-scripts-issues/007-create-installation-guide.md
  analysis/my-scripts-issues/008-add-test-coverage-reporting.md
  analysis/my-scripts-issues/009-document-missing-modules.md
  analysis/my-scripts-issues/010-extract-shared-utilities.md
  analysis/my-scripts-issues/011-create-architecture-documentation.md
  analysis/my-scripts-issues/012-implement-pre-commit-framework.md
  analysis/my-scripts-issues/013-add-code-formatting-automation.md
  analysis/my-scripts-issues/014-create-automated-release-workflow.md
  analysis/my-scripts-issues/README.md
Due: none

Remove outdated issue drafts and implement pre-commit framework, code formatting automation, and automated release workflow
  analysis/my-scripts-claude-review.md
  analysis/my-scripts-issues/001-implement-test-infrastructure.md
  analysis/my-scripts-issues/002-create-root-changelog-and-versioning.md
  analysis/my-scripts-issues/003-standardize-naming-conventions.md
  analysis/my-scripts-issues/004-activate-git-hooks.md
  analysis/my-scripts-issues/005-complete-module-deployment-config.md
  analysis/my-scripts-issues/006-reorganize-folder-structure.md
  analysis/my-scripts-issues/007-create-installation-guide.md
  analysis/my-scripts-issues/008-add-test-coverage-reporting.md
  analysis/my-scripts-issues/009-document-missing-modules.md
  analysis/my-scripts-issues/010-extract-shared-utilities.md
  analysis/my-scripts-issues/011-create-architecture-documentation.md
  analysis/my-scripts-issues/012-implement-pre-commit-framework.md
  analysis/my-scripts-issues/013-add-code-formatting-automation.md
  analysis/my-scripts-issues/014-create-automated-release-workflow.md
  analysis/my-scripts-issues/README.md
Due: none

docs(analysis): create comprehensive analysis with 26 actionable issues
  analysis/ANALYSIS_REPORT.md
  analysis/README.md
  analysis/REPOSITORY_ISSUES.md
  analysis/issues/001-fix-hardcoded-credentials-paths.md
  analysis/issues/002-add-tests-for-postgresbackup-module.md
  analysis/issues/003-add-tests-for-git-hooks.md
  analysis/issues/004-add-tests-for-purgelogs-module.md
  analysis/issues/005-create-environment-variable-system.md
  analysis/issues/006-fix-logger-initialization.md
  analysis/issues/007-create-task-scheduler-templates.md
  analysis/issues/008-fix-hardcoded-paths-in-scripts.md
  analysis/issues/009-fix-hardcoded-paths-in-documentation.md
  analysis/issues/010-add-tests-for-file-operations-module.md
  analysis/issues/011-add-tests-for-error-handling-module.md
  analysis/issues/012-create-configuration-documentation.md
  analysis/issues/013-standardize-version-handling.md
  analysis/issues/014-pin-and-test-dependencies.md
  analysis/issues/015-add-dependency-security-scanning.md
  analysis/issues/016-fix-continue-on-error-in-ci.md
  analysis/issues/017-standardize-module-structure.md
  analysis/issues/018-replace-writehost-in-modules.md
  analysis/issues/019-replace-writehost-in-backup-scripts.md
  analysis/issues/020-replace-writehost-in-system-scripts.md
  analysis/issues/021-add-backup-restore-integration-tests.md
  analysis/issues/022-add-git-hooks-integration-tests.md
  analysis/issues/023-add-ci-caching.md
  analysis/issues/024-setup-git-lfs.md
  analysis/issues/025-add-module-usage-examples.md
  analysis/issues/026-repository-cleanup-tasks.md
  analysis/issues/README.md
Due: none

feat: add --issues-dir parameter to create_github_issues.sh (#500)
  CHANGELOG.md
  README.md
  VERSION
  src/sh/create_github_issues.sh
Due: none

fix(git-hooks): correct logging initialization and execution order
  src/powershell/git/Invoke-PostCommitHook.ps1
  src/powershell/git/Invoke-PostMergeHook.ps1
Due: powershell

feat(git-hooks): add hook installation script and fix config format
  config/DEPLOYMENT-SETUP.md
  config/local-deployment-config.json.example
  scripts/Install-GitHooks.ps1
Due: none

feat(github-issues): process all template files except README.md
  CHANGELOG.md
  VERSION
  src/sh/create_github_issues.sh
  src/sh/github_issues/README.md
  src/sh/github_issues/bugfix-crash-on-startup.md
  src/sh/github_issues/feature_login.md
  src/sh/github_issues/issue-001-initial-setup.md
Due: none

fix(security): remove hardcoded credentials paths in Google Drive auth (#506)
  .env.example
  CHANGELOG.md
  INSTALLATION.md
  VERSION
  src/python/modules/auth/google_drive_auth.py
  tests/python/unit/test_google_drive_auth_paths.py
Due: python

refactor: standardize string quotes in Google Drive auth module and tests
  scripts/Install-GitHooks.ps1
  src/python/modules/auth/google_drive_auth.py
  tests/python/unit/test_google_drive_auth_paths.py
Due: python

feat(tests): add comprehensive tests for PostgresBackup module (#507)
  CHANGELOG.md
  tests/README.md
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

fix(tests): make PostgresBackup tests skip gracefully on non-Windows platforms
  CHANGELOG.md
  tests/powershell/unit/PostgresBackup.Tests.ps1
Due: none

feat(tests): add comprehensive tests for Git Hooks (#508)
  CHANGELOG.md
  tests/powershell/unit/Invoke-PostCommitHook.Tests.ps1
  tests/powershell/unit/Invoke-PostMergeHook.Tests.ps1
Due: none
